.alignleft {
    float: left;
    margin: 0.75em 1.750em 1.750em 0;
}

.alignright {
    float: right;
    margin: 0.75em 0 1.750em 1.750em;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.750em;
}
