.author-info:before,
.author-info:after,
.content-wrapper:before,
.content-wrapper:after,
#promotion-section .hentry:before,
#promotion-section .hentry:after,
.clear:before,
.clear:after,
.header-top-bar:before,
.header-top-bar:after,
.site-header-top-main:before,
.site-header-top-main:after,
#hero-section:before,
#hero-section:after,
.featured-content-wrapper:before,
.featured-content-wrapper:after,
.portfolio-content-wrapper:before,
.portfolio-content-wrapper:after,
.service-content-wrapper:before,
.service-content-wrapper:after,
.team-content-wrapper:before,
.team-content-wrapper:after,
.numbers-content-wrapper:before,
.numbers-content-wrapper:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.comment-navigation:before,
.comment-navigation:after,
.post-navigation:before,
.post-navigation:after,
.pagination:before,
.pagination:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.widget:before,
.widget:after,
.textwidget:before,
.textwidget:after,
#tertiary:before,
#tertiary:after,
#footer-newsletter .wrapper:before,
#footer-newsletter .wrapper:after {
    content: "";
    display: table;
}

.author-info:after,
.content-wrapper:after,
#promotion-section .hentry:after,
.clear:after,
.header-top-bar:after,
.site-header-top-main:after,
#hero-section:after,
.featured-content-wrapper:after,
.portfolio-content-wrapper:after,
.service-content-wrapper:after,
.team-content-wrapper:after,
.numbers-content-wrapper:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.comment-navigation:before,
.comment-navigation:after,
.post-navigation:after,
.pagination:after,
.primary-menu:after,
.social-links-menu:after,
.widget:after,
.textwidget:after,
#tertiary:after,
#footer-newsletter .wrapper:after {
    clear: both;
}
