/* Background Color */
body {
    background: $background_color;

    /* Fallback for when there is no custom background color defined. */
}

.site-title a,
.site-description {
    color: $header_text_color;
}

/* Page Background Color */
#page,
#feature-slider-section .entry-container .entry-container-wrap,
#promotion-section.content-frame .entry-container-frame,
.custom-header-content .entry-container-wrap,
#search-social-container-right #search-container,
#feature-slider-section .cycle-prev,
#feature-slider-section .cycle-next,
.site-navigation .primary-menu ul,
.section:nth-child(2n) .service-content-wrapper .hentry-inner,
.section:nth-child(2n) .featured-content-wrapper .entry-container,
.section:nth-child(2n).testimonial-wrapper .entry-container,
.section:nth-child(2n)#contact-section .section-content-wrap {
    background-color: $page_background_color;
}

@media screen and (min-width: 64em) {
    .search-social-container,
    #search-top-container,
    #feature-slider-section .entry-container .entry-container-wrap {
        background-color: $page_background_color;
    }
}

/* Secondary Background Color */
hr,
pre,
.site .skip-link,
.no-comments,
.author-info,
.header-top-button-wrap,
.wp-caption .wp-caption-text,
#secondary .widget,
#header-navigation-area .wrapper,
#footer-newsletter .wrapper,
.team-content-wrapper .hentry-inner,
#feature-slider-section .cycle-pager span,
#testimonial-content-section .post-thumbnail:before,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.contact-section .wrapper .social-navigation a,
.section:nth-child(2n),
.section:nth-child(2n) #secondary .widget-title span,
.service-content-wrapper .hentry-inner,
.featured-content-wrapper .entry-container,
.testimonial-wrapper .entry-container,
#contact-section .section-content-wrap {
    background-color: $secondary_background_color;
}

@media screen and (min-width: 64em) {
    #header-navigation-area .site-primary-menu {
        background-color: $secondary_background_color;
    }
}

/* Main Text Color */
body,
button,
input,
select,
textarea {
    color: $main_text_color;
}

/* Button Text Color */
#scrollup,
#scrollup:hover,
#scrollup:focus,
.widget_calendar tbody a,
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus,
#feature-slider-section .cycle-pager span:hover,
#feature-slider-section .cycle-pager span:focus,
#feature-slider-section .cycle-pager .cycle-pager-active,
.tagcloud a:hover,
.tagcloud a:focus,
.page-links a,
.page-links a:hover,
.page-links a:focus,
.pagination .prev,
.pagination .next,
.posts-navigation a,
.sticky-post,
mark,
ins,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li span.current,
button,
.button,
#numbers-section .more-link .more-button:hover,
#numbers-section .more-link .more-button:focus,
#promotion-section .more-link .more-button:hover,
#promotion-section .more-link .more-button:focus,
#hero-section .more-link .more-button,
.header-media .more-link .more-button,
#feature-slider-section .more-link span,
.site-main #infinite-handle span,
.custom-header .more-link span,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button,
.custom-header-media .wp-custom-header-video-button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#contact-section .contact-form form p input[type=submit] {
    color: $button_text_color;
}

#promotion-section .more-link .more-button,
#numbers-section .more-link .more-button, input[type="button"]:hover {
    background-color: $button_text_color;
    border-color: $button_text_color;
}

/* Button Text Hover Color */
#promotion-section.content-color-dark .more-link .more-button,
.more-button:hover,
.more-button:focus,
button:hover,
button:focus,
.button:hover,
.button:focus,
button[disabled]:hover,
button[disabled]:focus,
#hero-section .more-link .more-button:hover,
#hero-section .more-link .more-button:focus,
.header-media .more-link .more-button:hover,
.header-media .more-link .more-button:focus,
#feature-slider-section .more-link span:hover,
#feature-slider-section .more-link span:focus,
.site-main #infinite-handle span:hover,
.site-main #infinite-handle span:focus,
.custom-header .more-link span:hover,
.custom-header .more-link span:focus,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button:hover,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button:focus,
.custom-header-media .wp-custom-header-video-button:hover,
.custom-header-media .wp-custom-header-video-button:focus,
.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus,
.posts-navigation a:hover,
.posts-navigation a:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
#contact-section .contact-form form p input[type=submit]:hover,
#contact-section .contact-form form p input[type=submit]:focus {
    color: $button_text_hover_color;
}

/* Button Background Color */
button,
.button,
#hero-section .more-link .more-button,
.header-media .more-link .more-button,
#feature-slider-section .more-link span,
.custom-header .more-link span,
.site-main #infinite-handle span,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button,
.custom-header-media .wp-custom-header-video-button
input[type="button"],
input[type="reset"],
input[type="submit"],
#contact-section .contact-form form p input[type=submit],
#scrollup,
.widget_calendar tbody a,
#feature-slider-section .cycle-pager span:hover,
#feature-slider-section .cycle-pager span:focus,
#feature-slider-section .cycle-pager .cycle-pager-active,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.sticky-post,
.page-links a,
.pagination .prev,
.pagination .next,
.posts-navigation a,
.woocommerce span.onsale,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.catch-instagram-feed-gallery-widget-wrapper .button,
#promotion-section.content-color-dark .more-link .more-button:hover,
#promotion-section.content-color-dark .more-link .more-button:focus,
.portfolio-content-wrapper .hentry:hover .hentry-inner .portfolio-thumbnail span,
.header-top-bar,
.header-media .wrapper,
#numbers-section .more-link .more-button:hover,
#numbers-section .more-link .more-button:focus,
#promotion-section .more-link .more-button:hover,
#promotion-section .more-link .more-button:focus,
.header-top-menu-enabled #header-navigation-area .wrapper {
    background-color: $button_background_color;
}

.has-post-thumbnail .sticky-post:after,
#promotion-section .more-link .more-button,
#numbers-section .more-link .more-button,
.wpcf7 input[type="date"],
.wpcf7 input[type="time"],
.wpcf7 input[type="datetime-local"],
.wpcf7 input[type="week"],
.wpcf7 input[type="month"],
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="password"],
.wpcf7 input[type="search"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="number"],
.wpcf7 textarea {
    color: $button_background_color;
}

.button,
#promotion-section.content-color-dark .more-link .more-button:hover,
#promotion-section.content-color-dark .more-link .more-button:focus,
.custom-header-media .wp-custom-header-video-button,
.site-main #infinite-handle span,
#contact-section .contact-form form p input[type=submit],
.custom-header .more-link span,
#numbers-section .more-link .more-button:hover,
#numbers-section .more-link .more-button:focus,
#promotion-section .more-link .more-button:hover,
#promotion-section .more-link .more-button:focus,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border-color: $button_background_color;
}

/* Button Hover Background Color */
button:hover,
button:focus,
.more-button:hover,
.more-button:focus,
.button:hover,
.button:focus,
button[disabled]:hover,
button[disabled]:focus,
#hero-section .more-link .more-button:hover,
#hero-section .more-link .more-button:focus,
.header-media .more-link .more-button:hover,
.header-media .more-link .more-button:focus,
#feature-slider-section .more-link span:hover,
#feature-slider-section .more-link span:focus,
.site-main #infinite-handle span:hover,
.site-main #infinite-handle span:focus,
.custom-header .more-link span:hover,
.custom-header .more-link span:focus,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button:hover,
.catch-instagram-feed-gallery-widget-wrapper .instagram-button .button:focus,
.custom-header-media .wp-custom-header-video-button:hover,
.custom-header-media .wp-custom-header-video-button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
#contact-section .contact-form form p input[type=submit]:hover,
#contact-section .contact-form form p input[type=submit]:focus,
#scrollup:hover,
#scrollup:focus,
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus,
.woocommerce div.product form.cart .button:hover,
.woocommerce div.product form.cart .button:focus,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus,
.page-links a:hover,
.page-links a:focus,
.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus,
.posts-navigation a:hover,
.posts-navigation a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li span.current,
.tagcloud a:hover,
.tagcloud a:focus,
.singular-content-wrap .entry-footer .cat-links a:hover,
.singular-content-wrap .entry-footer .cat-links a:focus,
#promotion-section.content-color-dark .more-link .more-button,
.portfolio-content-wrapper .hentry:hover .hentry-inner .portfolio-thumbnail span:hover,
.portfolio-content-wrapper .hentry:hover .hentry-inner .portfolio-thumbnail span:focus {
    background-color: $button_hover_background_color;
}

.button:hover,
.button:focus,
.more-button:hover,
.more-button:focus,
.tagcloud a:hover,
.tagcloud a:focus,
.custom-header .more-link span:hover,
.custom-header .more-link span:focus,
.site-main #infinite-handle span:hover,
.site-main #infinite-handle span:focus,
#contact-section .contact-form form p input[type=submit]:hover,
#contact-section .contact-form form p input[type=submit]:focus,
.custom-header-media .wp-custom-header-video-button:hover,
.custom-header-media .wp-custom-header-video-button:focus,
#promotion-section.content-color-dark .more-link .more-button,
#promotion-section.content-frame .entry-container-frame .more-link .more-button:hover,
#promotion-section.content-frame .entry-container-frame .more-link .more-button:focus,
input[type="button"]:focus,
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
    border-color: $button_hover_background_color;
}

/* Link Color */
a,
.dropdown-toggle,
.comment-metadata .comment-reply-link,
.site-footer-menu .social-navigation a,
.tagcloud a,
#search-toggle-right,
.menu-primary-toggle,
.entry-header .cat-links a,
.singular-content-wrap .entry-footer .cat-links a,
.singular-content-wrap .entry-footer .tags-links a,
.numbers-content-wrapper .hentry-inner .entry-title a:hover,
.numbers-content-wrapper .hentry-inner .entry-title a:focus,
#feature-slider-section .cycle-prev,
#feature-slider-section .cycle-next,
#promotion-section.content-color-dark .entry-container header .section-title,
#promotion-section.content-color-dark .entry-container p,
#promotion-section.content-frame .entry-container header .section-title,
#promotion-section.content-frame .entry-container p,
.post-navigation .nav-subtitle,
.contact-section .wrapper .social-navigation a:focus,
.contact-section .wrapper .social-navigation a:hover {
    color: $link_color;
}

.tagcloud a {
    border-color: $link_color;
}

@media screen and (min-width: 70em) {
    .header-top-menu-enabled #header-navigation-area .site-navigation ul ul a {
        color: $link_color;
    }
}

/* Link Hover Color */
a:hover,
a:focus,
a:active,
.site-title a:hover,
.site-title a:focus,
.menu-primary-toggle:hover,
.menu-primary-toggle:focus,
.header-top-menu-enabled #header-navigation-area .dropdown-toggle:hover,
.header-top-menu-enabled #header-navigation-area .dropdown-toggle:focus,
#search-toggle-top:hover,
#search-toggle-right:hover,
#search-toggle:hover,
#search-toggle-top:focus,
#search-toggle-right:focus,
#search-toggle:focus,
.search-submit:hover,
.search-submit:focus,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.required,
.entry-title a:hover,
.entry-title a:focus,
.entry-meta a:hover,
.entry-meta a:focus,
.entry-meta .icon:hover,
.entry-meta .icon:focus,
.entry-header .cat-links a:hover,
.entry-header .cat-links a:focus,
.portfolio-content-wrapper .entry-header .cat-links a:hover,
.portfolio-content-wrapper .entry-header .cat-links a:focus,
.site-info a:hover,
.site-info a:focus,
.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus,
#feature-slider-section .entry-title a:hover,
#feature-slider-section .entry-title a:focus,
#feature-slider-section .entry-meta a:hover,
#feature-slider-section .entry-meta a:focus,
#feature-slider-section .entry-meta .icon:hover,
#feature-slider-section .entry-meta .icon:focus,
#feature-slider-section .cycle-prev:hover,
#feature-slider-section .cycle-prev:focus,
#feature-slider-section .cycle-next:hover,
#feature-slider-section .cycle-next:focus,
#testimonial-content-section .cycle-prev:hover,
#testimonial-content-section .cycle-prev:focus,
#testimonial-content-section .cycle-next:hover,
#testimonial-content-section .cycle-next:focus,
#testimonial-content-section .cycle-pager span.cycle-pager-active,
#clients-section .cycle-prev:hover,
#clients-section .cycle-prev:focus,
#clients-section .cycle-next:hover,
#clients-section .cycle-next:focus,
#clients-section .cycle-pager span.cycle-pager-active,
#clients-section.has-background-image .cycle-prev:hover,
#clients-section.has-background-image .cycle-prev:focus,
#clients-section.has-background-image .cycle-next:hover,
#clients-section.has-background-image .cycle-next:focus,
#clients-section.has-background-image .cycle-pager span.cycle-pager-active,
.site-footer-menu .social-navigation a:hover,
.site-footer-menu .social-navigation a:focus,
.site .skip-link,
.portfolio-content-wrapper .entry-header a:hover,
.portfolio-content-wrapper .entry-header a:focus,
.woocommerce div.product p.price:hover,
.woocommerce div.product p.price:focus,
.woocommerce ul.products li.product .price:hover,
.woocommerce ul.products li.product .price:focus,
.entry-breadcrumbs a:hover,
.entry-breadcrumbs a:focus,
.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce .woocommerce-breadcrumb a:focus,
.comment-metadata .comment-reply-link:hover,
.comment-metadata .comment-reply-link:focus,
.team-content-wrapper .entry-title a:hover,
.team-content-wrapper .entry-title a:hover,
#team-content-section .artist-social-profile > .social-navigation a:hover,
#team-content-section .artist-social-profile > .social-navigation a:focus,
#testimonial-content-section .section-content-wrapper .entry-content:before,
.header-top-menu-enabled #header-navigation-area .site-navigation a:hover,
.header-top-menu-enabled #header-navigation-area .site-navigation a:focus,
.header-top-menu-enabled #header-navigation-area .site-navigation ul ul :hover > a,
.header-top-menu-enabled #header-navigation-area .site-navigation ul ul .focus > a,
.post-navigation a:hover,
.post-navigation a:focus,
.post-navigation .nav-subtitle:hover,
.post-navigation .nav-subtitle:focus,
.singular-content-wrap .entry-footer .cat-links a:hover,
.singular-content-wrap .entry-footer .cat-links a:focus,
.singular-content-wrap .entry-footer .tags-links a:hover,
.singular-content-wrap .entry-footer .tags-links a:focus,
#social-footer-navigation ul li a:hover,
#social-footer-navigation ul li a:focus,
#search-container:hover,
#search-container:focus,
.search-submit:hover,
.search-submit:focus,
.contact-section .wrapper .social-navigation a {
    color: $link_hover_color;
}

mark,
ins {
    background-color: $link_hover_color;
}

blockquote,
blockquote.alignright,
blockquote.alignleft,
.rtl blockquote,
.team-content-wrapper .hentry-inner,
#testimonial-content-section .entry-header:before,
.menu-toggle:hover,
.menu-toggle:focus,
.search-submit {
    border-color: $link_hover_color;
}

.sticky-post:after {
    border-top-color: $link_hover_color;
}

/* Heading Text Color */
h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,
.widget-title a,
.page-links > .page-links-title {
    color: $header_text_color;
}

/* Tertiary Background Color */

.more-button {
    border-color: $tertiary_background_color;
    color: $tertiary_background_color;
}

@media screen and (min-width: 64em) {
    .header-top-menu-enabled #header-navigation-area .site-primary-menu {
        background: $tertiary_background_color;
    }
}

/* Text color with background */
.numbers-section-headline .section-title,
.numbers-content-wrapper .hentry-inner,
.numbers-content-wrapper .hentry-inner .entry-title a,
.team-content-wrapper .entry-container a,
.team-content-wrapper .entry-container .entry-header,
.team-content-wrapper .entry-container .entry-summary,
.team-content-wrapper .artist-social-profile .menu-social-container a,
.header-top-bar a,
#mobile-toggle-top,
.header-top-bar .contact-details li,
.site-navigation ul ul,
#search-container,
.search-submit,
#clients-section.has-background-image .cycle-prev,
#clients-section.has-background-image .cycle-next,
#clients-section.has-background-image .cycle-pager span,
#clients-section.has-background-image .section-title,
#clients-section.has-background-image .section-title a,
#clients-section.has-background-image .taxonomy-description-wrapper,
#clients-section.has-background-image .taxonomy-description-wrapper a,
.portfolio-content-wrapper .entry-meta .icon,
.portfolio-content-wrapper .entry-container,
.portfolio-content-wrapper .entry-container a,
.portfolio-content-wrapper .entry-header .cat-links a,
#promotion-section .entry-title,
#promotion-section .entry-title a,
#promotion-section .entry-container,
#promotion-section .entry-container a,
.header-top-menu-enabled #header-navigation-area .menu-toggle,
.header-top-menu-enabled #header-navigation-area .dropdown-toggle,
.header-top-menu-enabled #header-navigation-area .site-navigation a,
.portfolio-content-wrapper .hentry:hover .hentry-inner .portfolio-thumbnail span {
    color: $textcolor_with_background;
}

/* Border Color and Slider Controller Color */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.section:after,
.breadcrumb-area:after,
.site-footer-menu,
.site-content:after,
.page-links a,
.page-links > span,
.comment-respond,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
.image-navigation,
.comment-navigation,
.section-content-wrapper .post-wrapper .entry-footer {
    border-color: $border_color;
}

@media screen and (min-width: 64em) {
    .site-footer-menu .site-navigation,
    .primary-search-wrapper .social-navigation,
    .secondary-search-wrapper .social-navigation {
        border-color: $border_color;
    }
}

#clients-section .cycle-prev,
#clients-section .cycle-next,
#clients-section .cycle-pager span,
#testimonial-content-section .cycle-prev,
#testimonial-content-section .cycle-next,
#testimonial-content-section .cycle-pager span {
    color: $border_color;
}

.menu-toggle,
.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus,
.search-submit:hover,
.search-submit:focus,
#footer-instagram .widget-title,
#clients-section .cycle-prev,
#clients-section .cycle-next,
#testimonial-content-section .cycle-prev,
#testimonial-content-section .cycle-next,
#clients-section .cycle-prev:hover,
#clients-section .cycle-prev:focus,
#clients-section .cycle-next:hover,
#clients-section .cycle-next:focus,
#testimonial-content-section .cycle-prev:hover,
#testimonial-content-section .cycle-prev:focus,
#testimonial-content-section .cycle-next:hover,
#testimonial-content-section .cycle-next:focus,
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.social-navigation a,
.ctsocialwidget a {
    background-color: transparent;
}

/* Form Elements Color */

.wpcf7 input[type="date"],
.wpcf7 input[type="time"],
.wpcf7 input[type="datetime-local"],
.wpcf7 input[type="week"],
.wpcf7 input[type="month"],
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="password"],
.wpcf7 input[type="search"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="number"],
.wpcf7 textarea,
.contact-form form p input:not(#submit),
.contact-section .wrapper .contact-form form textarea {
    background-color: $input_color;
}

.site-navigation ul ul,
#search-top-container,
#search-social-container-right #search-container,
#header-content input[type="search"],
#search-container input[type="date"],
#search-container input[type="time"],
#search-container input[type="datetime-local"],
#search-container input[type="week"],
#search-container input[type="month"],
#search-container input[type="text"],
#search-container input[type="email"],
#search-container input[type="url"],
#search-container input[type="password"],
#search-container input[type="search"],
#search-container input[type="tel"],
#search-container input[type="number"],
#search-container textarea,
#comments input[type="date"],
#comments input[type="time"],
#comments input[type="datetime-local"],
#comments input[type="week"],
#comments input[type="month"],
#comments input[type="text"],
#comments input[type="email"],
#comments input[type="url"],
#comments input[type="password"],
#comments input[type="search"],
#comments input[type="tel"],
#comments input[type="number"],
#comments textarea,
.post-navigation .nav-links {
    border-color: $input_color;
}

.dropdown-toggle:focus:after,
.page-links a:hover,
.page-links a:focus {
    border-color: transparent;
}

.team-content-wrapper .hentry .hentry-inner .entry-container {
    background: rgba(0, 0, 0, 0.65);
}

.site-description {
    color: #666666;
}

#social-footer-navigation ul li a {
    color: #e0e0e0;
}

.contact-section .wrapper .contact-details svg {
    fill: $link_hover_color;
}

.header-top-bar a:hover,
#search-top-container .social-navigation a:hover {
    color: rgba(255, 255, 255, 0.65);
}

// Stats Gradient Background Color
#numbers-section {
    background-image: linear-gradient(-90deg, #624493, #B765D3);
}
