input {
    line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
.button,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.instagram-button .load-more,
.woocommerce input.button {
    border: 2px solid;
    border-radius: 23px;
    display: inline-block;
    font-family: $font__secondary;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    padding: 12px 31px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 7px;
    width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: 0;
}

.post-password-form {
    margin-bottom: 1.75em;
}

.post-password-form label {
    display: block;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}

.post-password-form input[type="password"] {
    margin-top: 0.824em;
}

.post-password-form > :last-child {
    margin-bottom: 0;
}

.search-form {
    position: relative;
}

input[type="search"].search-field {
    -webkit-appearance: none;
    margin: 0;
    padding-right: 41px;
    width: 100%;
}

.search-submit {
    border: 1px solid;
    border-radius: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 41px;
}

.footer-newsletter .hentry input[type="email"] {
    padding: 11px 28px;
}

#search-container, #comments {
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="week"],
    input[type="month"],
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    textarea {
        border: 1px solid;
    }
}
