.site-header-top-main,
.boxed-layout #header-navigation-area .wrapper {
    padding: 0 30px;
}

.custom-logo {
    margin: 7px auto;
}

.site-title,
.site-description {
    margin: 0;
}

.custom-header-content {
    padding: 112px 30px;
}

.menu-toggle {
    padding: 14px 30px;
}

.dropdown-toggle {
    padding: 7px 0;
}

.site-navigation .menu-item-has-children > a {
    padding-right: 30px;
}

.site-secondary-menu {
    margin: 14px auto;
}

#site-footer-navigation {
    margin-bottom: 21px;
}

#menu-toggle-footer .icon {
    margin-right: 5px;
}

.widget,
.pagination,
.woocommerce-pagination,
.post-navigation,
.site-main #infinite-handle,
.form-allowed-tags {
    margin: 0 0 35px;
}

#colophon .widget {
    margin: 0;
    padding: 21px 30px;
}

.widget .widget-title {
    margin: 0 0 28px;
}

.widget li {
    margin-bottom: 7px;
}

.singular-content-wrap .entry-header,
.archive .page-header,
.error404 .page-header,
.search .page-header,
.woocommerce-products-header {
    margin-bottom: 35px;
}

#hero-section .entry-container {
    padding: 30px;
}

.custom-header-content .site-header-text {
    margin: 14px 0 0 0;
}

.section-heading-wrapper {
    padding: 30px;
}

.comment-reply-title,
.author-avatar,
.comment-form-comment,
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
    margin: 0 0 28px;
}

.author-info {
    padding: 35px;
}

.edit-link {
    margin-top: 21px;
}

.section-content-wrapper .post-thumbnail {
    margin: 0 0 21px;
}

.section-content-wrapper .entry-summary,
.section-content-wrapper .entry-content {
    margin: 14px 0 0;
    width: 100%;
}

.section-content-wrapper .entry-footer .entry-meta {
    margin: 21px 0 0;
}

.promotion-content-wrapper .entry-content {
    margin: 28px 0 0;
}

.taxonomy-description,
.taxonomy-description-wrapper {
    margin-top: 14px;
}

.site-content .wrapper,
.team-content-wrapper {
    padding: 0 30px;
}

.author-info,
.singular-content-wrap .post-thumbnail,
.singular-content-wrap .entry-footer,
.singular-content-wrap .entry-content {
    margin: 35px 0;
}

.recent-blog-content-wrapper,
.featured-content-wrapper,
.portfolio-content-wrapper,
.service-content-wrapper,
.team-content-wrapper {
    padding: 0 30px;
}

.archive-posts-wrapper .post-wrapper,
.featured-content-wrapper .hentry,
.portfolio-content-wrapper .hentry,
.service-content-wrapper .hentry,
.team-content-wrapper .hentry {
    margin-bottom: 35px;
}

.custom-header-content > :last-child,
.page .singular-content-wrap .hentry > :last-child,
.taxonomy-description-wrapper > :last-child,
.widget-column > :last-child,
.widget-area > :last-child,
.widget > :last-child,
.widget li:last-child,
.widget embed:last-child,
.widget iframe:last-child,
.widget object:last-child,
.widget video:last-child,
#colophon .widget li:last-child {
    margin-bottom: 0;
}

#site-generator {
    padding: 28px 30px;
}

.copyright,
.powered {
    margin: 0;
}

.site-navigation {
    margin: 0;
}

.site-footer-menu,
.site-primary-menu,
.header-top-bar .top-main-wrapper {
    margin: 0 auto;
}

.posts-navigation div + div,
.post-navigation div + div {
    margin-top: 30px;
}

.wp-caption .wp-caption-text {
    padding: 14px 21px;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    padding: 10px 21px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    padding: 14px 21px;
}

.comment-form label {
    margin-bottom: 7px;
}

.contact-details .icon,
.entry-meta .icon {
    margin-right: 7px;
}

#hero-section .wrapper {
    padding: 30px;
}

#search-toggle-right {
    line-height: 1.25;
}

.entry-title {
    margin: 0;
}

.singular-content-wrap .entry-title {
    margin: 0 0 0.4375em;
}

.entry-meta {
    margin: 7px 0 0;
}

.infinity-end .site-main .hentry:last-of-type .post-wrapper {
    margin: 0;
}

.post-wrapper .more-link {
    margin-top: 14px;
}

.site-content .sidebar {
    margin-top: 35px;
}

.site-main .section-content-wrapper .sticky .entry-header {
    margin-top: 49px;
}

.post-wrapper .entry-footer .edit-link {
    margin: 0;
}

.post-wrapper .entry-header .entry-meta {
    margin-top: 14px;
}

#feature-slider-section .entry-container .entry-header .entry-title + .entry-meta {
    margin: 14px 0 0;
}

#feature-slider-section .entry-container .entry-header .entry-meta {
    margin: 0;
}

.form-submit,
.reservation-highlight-text {
    margin: 0;
}

.portfolio-content-wrapper .entry-meta, .team-content-wrapper .entry-meta {
    margin: 0;
}

#promotion-section .wrapper .hentry {
    padding: 30px;
}
