body,
button,
input,
select,
textarea {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
}

.drop-cap:first-letter {
    font-size: 96px;
    font-size: 6rem;
}

.site-title,
.page-title,
.entry-title,
.section-title,
.footer-newsletter .section-heading-wrapper .section-heading-wrap .section-title,
#footer-instagram .widget-title {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.3125;
}

.post-wrapper .entry-title {
    line-height: 1.333;
}

#feature-slider-section .entry-title,
.numbers-content-wrapper .entry-title,
.post-wrapper .entry-title,
.comments-title,
.custom-header-content .entry-title,
.comment-reply-title {
    font-size: 24px;
    font-size: 1.5rem;
}

.dropdown-toggle,
.site-title,
.section-subtitle,
blockquote,
.numbers-content-wrapper .entry-container,
.featured-content-wrapper .entry-title,
.portfolio-content-wrapper .entry-title,
.service-content-wrapper .entry-title,
.team-content-wrapper .entry-title,
.author-description .author-title,
#testimonial-content-section .entry-title,
.post-navigation .nav-title,
.footer-newsletter .section-heading-wrapper,
.custom-header-media .wp-custom-header-video-button,
.contact-section .wrapper .entry-title .entry-subtitle,
.contact-section .wrapper .entry-title span,
.custom-header-content .entry-title .sub-title,
.recent-blog-section .post-wrapper .entry-title,
#feature-slider-section .entry-title .sub-title,
#content .section-content-wrapper .entry-title,
#testimonial-content-section .entry-title,
#testimonial-content-section .entry-content {
    font-size: 18px;
    font-size: 1.125rem;
}

.social-navigation,
.comment-content,
.site-footer .site-info,
.more-link,
.author-name,
.comment-reply-title small a,
.site-description,
.site-header .icon-search,
.widget-area,
.widget .hentry .entry-title,
.widget-area .widget_recent_entries li a,
.pagination .prev,
.pagination .next,
.posts-navigation .nav-links a,
.site-main #infinite-handle span,
.header-media .more-link .more-button,
#feature-slider-section .more-link span,
#promotion-section .more-link .more-button,
.site-main #infinite-handle span,
.contact-form form label,
.custom-header-content .site-header-text,
.team-content-wrapper .hentry .hentry-inner .entry-container span,
#contact-section .contact-info .contact-details p,
#contact-section .contact-info .contact-details a,
#testimonial-content-section .entry-container .entry-meta,
.contact-section .wrapper .contact-form form .contact-input::placeholder,
.contact-section .wrapper .contact-form form textarea::placeholder,
#contact-section .section-content-wrap .contact-form form p input:not(#submit) {
    font-size: 16px;
    font-size: 1rem;
}

.wp-caption .wp-caption-text,
.widget .hentry.ew-newsletter-wrap input,
#footer-newsletter .ewnewsletter .ew-newsletter-wrap .ew-newsletter-subbox::placeholder {
    font-size: 15px;
    font-size: 0.9375rem;
}

.social-navigation a,
.ctsocialwidget a,
button,
.button,
.site .skip-link,
.menu-toggle,
input[type="button"],
input[type="reset"],
input[type="submit"],
.header-top-left,
.site-navigation .top-menu a,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.more-button,
.sticky-post,
.entry-breadcrumbs,
.site-navigation a,
.woocommerce .woocommerce-breadcrumb {
    font-size: 14px;
    font-size: 0.875rem;
}

.entry-meta,
.image-navigation,
.comment-navigation,
.site-description,
.comment-reply-link,
.comment-metadata .comment-permalink,
.comment-metadata .edit-link,
.pingback .edit-link,
.widget_rss .rss-date,
.widget_rss cite,
.widget .widget-title,
.widget_recent_entries .post-date,
blockquote cite,
blockquote small {
    font-size: 13px;
    font-size: 0.813rem;
}

.comment-metadata,
.comment-reply-link,
.comment-form label,
.pingback .edit-link,
.contact-section .wrapper .contact-details span,
.post-navigation .nav-subtitle {
    font-size: 12px;
    font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
button,
input,
select,
textarea,
.author-description .author-title {
    font-family: $font__primary;
}

.site-title,
.section-title,
.entry-title,
.widget-title,
.nav-subtitle,
.site-description,
.more-button,
button,
.site-navigation a,
.header-top-bar,
.comment-reply-link,
#footer-instagram .widget-title,
.sticky-post,
.ctis-load-more,
.comment-form label,
.contact-section .wrapper .contact-details span,
.posts-navigation .nav-links a,
#contact-section .section-content-wrap .contact-info .contact-details li a,
.contact-form form label {
    font-family: $font__secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 700;
    margin: 70px 0 35px 0;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
}

p {
    margin: 0 0 1.750em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    font-size: 20px;
    font-size: 1.25rem;
    font-style: italic;
    letter-spacing: 0;
    line-height: 1.45833333333;
    margin: 0 0 1.75em;
    overflow: hidden;
}

blockquote p {
    margin-bottom: 1.167em;
}

blockquote.alignright {
    border-right: 4px solid;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.45833333333;
    padding: 0 1.250em 0 0;
    text-align: right;
}

blockquote.alignleft {
    border-left: 4px solid;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.45833333333;
    padding: 0 0 0 1.250em;
}

blockquote cite,
blockquote small {
    display: block;
    font-weight: 300;
    line-height: 2.15384615385;
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote > :last-child {
    margin-bottom: 0;
}

address {
    font-style: normal;
    margin: 0 0 1.750em;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: $font__pre;
    font-size: 16px;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.55555555556;
}

var {
    font-style: italic;
}

pre {
    font-size: 1em;
    margin: 0 0 1.750em;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

mark,
ins,
code {
    padding: 0.125em 0.25em;
}

abbr,
acronym {
    border-bottom: 1px dotted #eee;
    cursor: help;
}

mark,
ins {
    text-decoration: none;
}

big {
    font-size: 125%;
}
