// Background Color
$background_color: #f3f5f5;

// Page Background Color
$page_background_color: #ffffff;

// Secondary Background Color
$secondary_background_color: #f4f4f5;

// Main Text Color
$main_text_color: #191E23;

// Button Text Color
$button_text_color: #ffffff;

// Button Hover Text Color
$button_text_hover_color: #ffffff;

// Button Background Color
$button_background_color: #614392;

// Button Hover Background Color
$button_hover_background_color: #191E23;

// Link Color
$link_color: #666666;

// Link Hover Color
$link_hover_color: #614392;

// Heading Text Color
$header_text_color: #000E1B;

// Tertiary Background Color
$tertiary_background_color: #614392;

// Text Color With Bcakground
$textcolor_with_background: #ffffff;

// Border Color
$border_color: #888888;

// Input Color
$input_color: #ededed;

// Font Variables
$font__primary: "Lora", serif;
$font__secondary: "Open Sans", sans-serif;
$font__pre: "courier", monospace;
