.widget .hentry {
    float: left;
    width: 100%;
}

.widget .widget-title {
    line-height: 1.615384615384615;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.widget .widget-title:empty {
    margin-bottom: 0;
}

.widget-area ul,
.widget-area ol {
    list-style: none;
    margin-left: 0;
}

.widget-area li {
    line-height: 2;
}

.widget-title a {
    text-decoration: none;
}

.widget_categories ul,
.widget_archive ul {
    text-align: right;
    margin-left: 0;
}

.widget_categories li,
.widget_archive li {
    display: block;
    height: 1%;
    overflow: hidden;
}

.widget_categories ul a,
.widget_archive ul a {
    float: left;
}

.widget .hentry.ew-newsletter-wrap {
    text-align: center;
    width: auto;
    float: none;

    input {
        width: 100%;
    }
}

/* Calendar widget */
.widget.widget_calendar table {
    margin: 0;
}

.widget_calendar td,
.widget_calendar th {
    line-height: 3;
    padding: 0;
    text-align: center;
}

.widget_calendar tbody a {
    display: block;
}

/* Recent Posts widget */
.widget-area .gallery {
    margin: 0;
}

.widget_recent_entries .post-date {
    display: block;
    line-height: 1.615384615;
    margin-bottom: 0.538461538em;
}

.widget_recent_entries li:last-child .post-date {
    margin-bottom: 0;
}

/* RSS widget */
.widget_rss .rsswidget img {
    margin-top: -0.375em;
}

.widget_rss .rss-date,
.widget_rss cite {
    display: block;
    font-style: normal;
    line-height: 1.615384615;
    margin: 14px 0;
}

.widget_rss .rssSummary:last-child {
    margin-bottom: 2.1538461538em;
}

.widget_rss li:last-child :last-child {
    margin-bottom: 0;
}

/* Tag Cloud widget */
.tagcloud a {
    border: 1px solid;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    line-height: 1;
    margin: 0 0.1875em 0.4375em 0;
    padding: 0.5625em 0.4375em 0.5em;
}

.tagcloud a:hover,
.tagcloud a:focus {
    outline: 0;
}

.sidebar .widget {
    padding: 35px 0 35px 0;
}

footer#colophon {
    clear: both;
}

#secondary .widget {
    padding: 35px;
}

#secondary .widget .section-heading-wrapper {
    padding: 0;
    text-align: left;
}

#secondary .widget .hentry {
    padding: 0;
    text-align: left;
}
