@media screen and (min-width: 64em) {
    .boxed-layout #footer-instagram .wrapper,
    .boxed-layout #promotion-section .wrapper,
    .boxed-layout #header-navigation-area .wrapper,
    .boxed-layout #footer-menu-section .wrapper,
    .boxed-layout #feature-slider-section .wrapper {
        padding: 0;
    }

    .search-container {
        display: none;
    }

    #search-top-container .header-top-right {
        display: block;
    }

    .boxed-layout #page {
        width: 94%;
        margin: 35px auto;
    }

    .site-content .wrapper {
        padding: 0 25px;
    }

    .section,
    #clients-section,
    #colophon .widget-area,
    #footer-newsletter .widget {
        padding: 14px 0;
    }

    #contact-section .contact-section-map {
        margin-top: -14px;
    }

    .site-content {
        padding: 35px 0;
    }

    #promotion-section .entry-container {
        margin: 3.5rem 0;
    }

    #footer-instagram .catch-instagram-feed-gallery-widget-wrapper .button {
        margin: 35px 0 49px;
    }

    .dropdown-toggle,
    .site-navigation ul .dropdown-toggle.toggled-on,
    .menu-toggle,
    .menu-secondary-toggle,
    .header-top-button-wrap,
    .menu-top-toggle {
        display: none;
    }

    #search-top-container.with-social .header-top-left {
        display: inline;
    }

    .site-header-top-main {
        padding: 0;
    }

    .header-top-bar .wrapper {
        padding: 0 45px;
    }

    .header-top-bar .top-main-wrapper {
        margin: 0 auto;
        border: none;
    }

    .primary-menu-left #site-primary-navigation {
        text-align: left;
    }

    .site-footer-menu {
        display: inherit;
    }

    .site-footer-menu {
        margin: 0;
    }

    .disable-in-mobile,
    .header-top-bar .contact-details li,
    .site-navigation .top-menu li {
        display: inline;
    }

    .header-top-bar .contact-details li {
        margin: 0 21px 0 0;
    }

    .menu-search-top-toggle,
    .header-top-left,
    #site-top-navigation {
        display: block;
        float: left;
    }

    .menu-search-top-toggle {
        display: block;
        float: right;
    }

    .header-top-left {
        margin: 9px 0;
    }

    .header-top-right {
        display: none;
        float: right;
        margin: 0;
    }

    #site-header-top-menu .social-navigation ul,
    .header-top-bar .contact-details li,
    .site-header .social-navigation ul {
        padding: 0;
    }

    .site-header .social-navigation ul {
        margin: 0;
    }

    .site-primary-menu,
    .site-secondary-menu {
        display: block;
        margin: 0;
        position: relative;
    }

    .site-secondary-menu,
    .site-footer-menu {
        text-align: center;
    }

    #search-toggle {
        border: none;
        line-height: 1.231;
        margin: 0;
        padding: 25px 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #search-toggle-right,
    .primary-search-wrapper,
    #site-secondary-navigation,
    #social-secondary-navigation-top,
    #site-primary-navigation,
    #social-primary-navigation {
        clear: none;
        display: inline-block;
    }

    #search-toggle-top .icon,
    #search-toggle-right .icon {
        margin-right: 0;
    }

    #search-social-container-right #search-container {
        border: 1px solid #EDEDED;
        padding: 21px;
        position: absolute;
        right: 0;
        top: 45px;
        width: 300px;
        z-index: 99;
    }

    nav#site-top-navigation {
        float: right;
    }

    .site-navigation .primary-menu,
    .site-navigation .primary-menu > li,
    .site-navigation .secondary-menu,
    .site-navigation .secondary-menu > li {
        border: 0;
    }

    .site-navigation .primary-menu > li,
    .site-navigation .secondary-menu > li,
    .site-navigation .footer-menu > li {
        display: inline-block;
    }

    .site-navigation .primary-menu ul,
    .site-navigation .secondary-menu ul,
    .site-navigation .footer-menu ul {
        text-align: left;
    }

    .site-navigation a {
        outline-offset: -8px;
        padding: 14px 20px;
        white-space: nowrap;
    }

    .site-navigation ul ul {
        border: 1px solid;
        display: block;
        left: -999em;
        margin: 0;
        padding: 11px 0;
        position: absolute;
        z-index: 99999;
        text-align: left;
        text-transform: none;
    }

    .site-navigation ul ul ul {
        top: -1px;
    }

    .site-navigation ul ul ul:before,
    .site-navigation ul ul ul:after {
        border: 0;
    }

    .site-navigation ul ul li {
        border: none;
        border-bottom-width: 0;
    }

    #site-secondary-navigation.site-navigation ul ul a,
    .site-navigation ul ul a {
        padding: 11px 21px;
        white-space: normal;
        width: 260px;
    }

    #social-secondary-navigation-top {
        clear: both;
        display: block;
        margin: 0 10px;
    }

    #social-secondary-navigation-top,
    .primary-search-wrapper {
        display: inline-block;
    }

    #site-secondary-navigation {
        clear: both;
    }

    #site-top-navigation.site-navigation ul ul a {
        line-height: 1.5;
        padding: 11px 21px;
    }

    .site-secondary-menu ul ul:before,
    .site-secondary-menu ul ul:after {
        border-style: solid;
        content: "";
        position: absolute;
    }

    .site-secondary-menu ul ul:before {
        border-width: 0 8px 8px;
        right: 11px;
        top: -8px;
    }

    .site-secondary-menu ul ul:after {
        border-width: 0 8px 8px;
        right: 11px;
        top: -8px;
    }

    .site-navigation li:hover > ul,
    .site-navigation li.focus > ul {
        left: auto;
        right: 0;
    }

    .site-navigation .secondary-menu li:hover > ul,
    .site-navigation .secondary-menu li.focus > ul {
        left: auto;
        right: 0;
    }

    .site-navigation ul ul li:hover > ul,
    .site-navigation ul ul li.focus > ul {
        left: auto;
        right: 100%;
    }

    .site-navigation .secondary-menu ul li:hover > ul,
    .site-navigation .secondary-menu ul li.focus > ul {
        left: auto;
        right: 100%;
    }

    .site-navigation .menu-item-has-children > a {
        margin: 0;
        padding-right: 20px;
    }

    .site-navigation ul ul .menu-item-has-children > a:after {
        right: 0.5625em;
        top: 0.875em;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .site-navigation .secondary-menu a {
        padding: 14px 20px;
    }

    .site-navigation .top-menu a {
        padding: 7px 14px;
    }

    .site-navigation .menu-item-has-children > a > .icon,
    .site-navigation .page_item_has_children > a > .icon {
        display: inline;
        left: 9px;
        position: relative;
        top: -1px;
    }

    .site-navigation ul ul .menu-item-has-children > a > .icon,
    .site-navigation ul ul .page_item_has_children > a > .icon {
        margin-top: -7px;
        left: auto;
        position: absolute;
        right: 9px;
        top: 50%;
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        -ms-transform: rotate(-90deg); /* IE 9 */
        transform: rotate(-270deg);
    }

    .site-navigation .secondary-menu ul .menu-item-has-children > a > .icon {
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        -ms-transform: rotate(90deg); /* IE 9 */
        transform: rotate(90deg);
    }

    #site-footer-navigation,
    #social-footer-navigation {
        margin-bottom: 35px;
    }

    #secondary .widget {
        width: 100%;
    }

    #secondary .widget:nth-child(2n+1) {
        margin-right: 0;
    }

    #colophon .four .widget-column {
        width: 25%;
    }

    #colophon .four .widget-column:nth-child(2n+1) {
        clear: none;
    }

    #colophon .four .widget-column:nth-child(4n+1) {
        clear: both;
    }

    .recent-blog-section .section-content-wrapper.layout-three .hentry,
    #content .section-content-wrapper.layout-three .hentry,
    .featured-content-wrapper.layout-three .hentry,
    .portfolio-content-wrapper.layout-three .hentry,
    .service-content-wrapper.layout-three .hentry,
    .team-content-wrapper.layout-three .hentry,
    .recent-blog-section .section-content-wrapper.layout-two .hentry,
    #content .section-content-wrapper.layout-two .hentry,
    .featured-content-wrapper.layout-two .hentry,
    .portfolio-content-wrapper.layout-two .hentry,
    .service-content-wrapper.layout-two .hentry,
    .team-content-wrapper.layout-two .hentry {
        padding: 0 20px;
    }

    #testimonial-content-section .post-thumbnail {
        margin: 0 0 -42px;
    }

    .featured-content-wrapper.layout-four,
    .portfolio-content-wrapper.layout-four,
    .service-content-wrapper.layout-four,
    .team-content-wrapper.layout-four,
    .featured-content-wrapper.layout-three,
    .portfolio-content-wrapper.layout-three,
    .service-content-wrapper.layout-three,
    .team-content-wrapper.layout-four,
    .featured-content-wrapper.layout-two,
    .portfolio-content-wrapper.layout-two,
    .service-content-wrapper.layout-two,
    .team-content-wrapper.layout-two {
        margin-left: 0;
        margin-right: 0;
    }

    .featured-content-wrapper.layout-three,
    .portfolio-content-wrapper.layout-three,
    .service-content-wrapper.layout-three,
    .team-content-wrapper.layout-three,
    .featured-content-wrapper.layout-two,
    .portfolio-content-wrapper.layout-two,
    .service-content-wrapper.layout-two,
    .team-content-wrapper.layout-two {
        padding: 0 25px;
    }

    #hero-section .wrapper {
        padding: 70px 45px;
    }

    #hero-section .entry-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #promotion-section .content-wrapper {
        padding: 0 45px;
    }

    .recent-blog-content-wrapper {
        padding: 0 25px;
    }

    .featured-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .portfolio-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .service-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .team-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .numbers-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .recent-blog-section .section-content-wrapper.layout-four .hentry:nth-child(2n+1),
    #content .section-content-wrapper.layout-four .hentry:nth-child(2n+1) {
        clear: none;
    }

    .featured-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .portfolio-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .service-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .team-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .numbers-content-wrapper.layout-four .hentry:nth-child(4n+1),
    .recent-blog-section .section-content-wrapper.layout-four .hentry:nth-child(4n+1),
    #content .section-content-wrapper.layout-four .hentry:nth-child(4n+1) {
        clear: both;
    }

    .recent-blog-section .section-content-wrapper.layout-four .hentry,
    .featured-content-wrapper.layout-four .hentry,
    .portfolio-content-wrapper.layout-four .hentry,
    .service-content-wrapper.layout-four .hentry,
    .team-content-wrapper.layout-four .hentry,
    .numbers-content-wrapper.layout-four .hentry {
        width: 25%;
    }

    .recent-blog-section .section-content-wrapper.layout-four .hentry,
    .featured-content-wrapper.layout-four .hentry,
    .portfolio-content-wrapper.layout-four .hentry,
    .service-content-wrapper.layout-four .hentry,
    .team-content-wrapper.layout-four .hentry {
        padding: 0 15px;
    }

    .team-content-wrapper .hentry-inner,
    .service-content-wrapper .hentry-inner,
    .featured-content-wrapper .entry-container {
        padding: 35px;
    }

    .content-area {
        float: left;
        margin-right: -100%;
        width: 70%;
    }

    .sidebar {
        float: right;
        width: 30%;
    }

    .site-content .sidebar {
        margin-top: 0;
    }

    .content-right .content-area {
        float: right;
        margin-right: 0;
        margin-left: -100%;
    }

    .content-right .sidebar {
        float: left;
        margin-right: 70%;
        margin-left: 0;
    }

    .no-sidebar .content-area {
        float: none;
        margin: 0 auto;
        max-width: 730px;
        width: 100%;
    }

    .no-sidebar.full-width-layout .content-area {
        margin: 0 auto;
        max-width: 1490px;
        padding: 0 15px;
        width: 100%;
    }

    .home.no-sidebar.full-width-layout .content-area {
        padding: 0;
    }

    .content-left .content-area, .content-right .sidebar {
        padding-left: 20px;
        padding-right: 30px;
    }

    .content-right .content-area, .content-left .sidebar {
        padding-right: 20px;
        padding-left: 30px;
    }

    .two-columns-layout .content-area {
        max-width: 1490px;
    }

    .author-info {
        padding: 42px;
    }

    .singular-content-wrap .entry-header,
    .archive .page-header,
    .error404 .page-header,
    .search .page-header,
    .woocommerce-products-header {
        margin-bottom: 42px;
    }

    .author-info,
    .singular-content-wrap .post-thumbnail,
    .singular-content-wrap .entry-content,
    .singular-content-wrap .entry-footer {
        margin: 42px 0;
    }

    .archive-posts-wrapper .post-wrapper {
        margin-bottom: 42px;
    }

    .entry-breadcrumbs,
    .woocommerce .woocommerce-breadcrumb {
        padding: 14px 50px;
    }

    .widget-column {
        padding: 14px 15px;
    }

    .woocommerce-pagination,
    .post-navigation,
    .posts-navigation,
    .pagination {
        margin: 0;
    }

    #site-generator {
        padding: 28px 0;
    }

    .site-info .wrapper {
        padding: 0 30px;
    }

    .copyright,
    .powered {
        padding: 0 20px;
    }

    #promotion-section.content-frame .entry-container-frame {
        padding: 3.5rem 0;
    }

    .site-branding {
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0 auto 0 0;
        text-align: left;
        width: auto;
    }

    .site-secondary-menu {
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }

    .portfolio-content-wrapper .entry-container {
        opacity: 0;
    }

    .portfolio-content-wrapper .hentry-inner:hover .entry-container {
        opacity: 1;
    }

    .comment-respond {
        padding: 35px 0;
    }

    .section:after,
    .boxed-layout .breadcrumb-area:after,
    .boxed-layout #clients-section.has-background-image {
        width: calc(100% - 100px);
    }

    .clients-content-wrapper {
        padding: 0 25px;
    }

    .custom-header-content .entry-title,
    #feature-slider-section .entry-title,
    .numbers-content-wrapper .entry-title,
    .post-wrapper .entry-title,
    .custom-header-content .entry-title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    blockquote,
    .featured-content-wrapper .entry-title,
    .service-content-wrapper .entry-title,
    .author-description .author-title,
    .post-navigation .nav-title,
    #content .section-content-wrapper .entry-title,
    .recent-blog-section .post-wrapper .entry-title,
    #testimonial-content-section .entry-content {
        font-size: 21px;
        font-size: 1.3125rem;
    }

    .site-title,
    .page-title,
    .entry-title,
    .section-title,
    #footer-instagram .widget-title {
        font-size: 28px;
        font-size: 1.75rem;
    }

    .comment-reply-title,
    .custom-header-content .entry-title .sub-title,
    #feature-slider-section .entry-title .sub-title {
        font-size: 22px;
        font-size: 1.375rem;
    }

    h1 {
        font-size: 36px;
        font-size: 2.25rem;
    }

    h2 {
        font-size: 32px;
        font-size: 2rem;
    }

    h3 {
        font-size: 28px;
        font-size: 1.75rem;
    }

    h4 {
        font-size: 24px;
        font-size: 1.5rem;
    }

    h5 {
        font-size: 22px;
        font-size: 1.375rem;
    }

    h6 {
        font-size: 18px;
        font-size: 1.125rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 70px 0 35px 0;
    }

    body,
    input,
    select,
    textarea {
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.55555555556;
    }

    .site-title {
        font-size: 24px;
        font-size: 1.5rem;
    }

    blockquote {
        font-size: 24px;
        font-size: 1.5rem;
    }

    blockquote.alignright,
    blockquote.alignleft {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .custom-header-content .site-header-text,
    code,
    kbd,
    tt,
    var,
    samp,
    pre {
        font-size: 18px;
        font-size: 1.125rem;
    }

    #menu-main-menu {
        border: none;
        box-shadow: none;
    }

    .comment-content {
        font-size: 18px;
        font-size: 1.125rem;
    }

    .comment-metadata, .pingback .edit-link {
        font-size: 13px;
        font-size: 0.8125rem;
        line-height: 2.3333333333;
    }

    .more-button,
    .site-main #infinite-handle span {
        font-size: 16px;
        font-size: 1rem;
    }

    .contact-section .wrapper .contact-form form .contact-input {
        width: 48%;
    }

    .contact-section .wrapper .contact-details p {
        margin-left: 50px;
    }

    .contact-section .wrapper .contact-details span {
        margin-left: 21px;
    }

    .contact-section .wrapper .section-content-wrap {
        padding: 70px 81px;
    }

    #feature-slider-section .slider-image-wrapper a img {
        width: 100%;
    }

    #feature-slider-section .slider-content-wrapper {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 101;
        max-width: 1490px;
        margin: 0 auto;
        width: 100%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .home .custom-header .custom-header-content .entry-container-wrap,
    #feature-slider-section .slider-content-wrapper .entry-container .entry-container-wrap {
        padding: 56px;
        margin: 0;
        text-align: left;
    }

    .custom-header .custom-header-content .entry-container-wrap {
        text-align: center;
        margin: 0 auto;
    }

    .custom-header-content {
        padding: 160px 45px;
    }

    #feature-slider-section .slider-content-wrapper .entry-container {
        display: block;
        margin: 0 auto;
        padding: 195px 45px;
        position: relative;
        z-index: 2;
        text-align: left;
    }

    .numbers-content-wrapper .entry-container {
        text-align: left;
    }

    .contact-section .wrapper .section-content-wrap {
        margin: 0 45px;
    }

    .site-header-main {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    #header-content .wrapper {
        padding: 35px 45px;
    }

    #contact-section .section-content-wrap .contact-form form .comment-form-phone,
    #contact-section .section-content-wrap .contact-form form .c {
        width: 48%;
    }

    #contact-section .section-content-wrap .contact-form form .comment-no-of-people {
        width: 100%;
    }

    article.hentry.contact-info {
        width: 40%;
    }

    .contact-section .wrapper .section-content-wrap {
        display: flex;
    }

    #contact-section .section-content-wrap .contact-info .contact-details li p {
        margin-bottom: 0;
    }

    #contact-section .section-content-wrap .contact-info, .contact-section .wrapper .social-navigation ul {
        text-align: left;
    }

    #contact-section .section-content-wrap .contact-info .contact-details {
        display: block;
    }

    #footer-menu-section .footer-menu {
        display: block;
    }

    .header-top-bar #search-toggle-top {
        display: block;
    }

    .search-container.toggled-on {
        display: block;
    }

    #search-container {
        padding: 21px;
        position: absolute;
        right: 42px;
        top: 38px;
        width: 300px;
        z-index: 99;
    }

    .site-header #social-primary-navigation {
        border: none;
        padding: 0;
        width: auto;
    }

    .site-branding {
        padding: 0;
    }

    #feature-slider-section .slider-content-wrapper .more-link,
    .custom-header-content h2 .more-link, .custom-header-content p .more-link {
        text-align: left;
    }

    .section-heading-wrapper {
        padding: 35px;
    }

    .entry-meta {
        font-size: 13px;
        font-size: 0.8125rem;
    }

    .search-with-social {
        display: block;
    }

    .team-content-wrapper .hentry .hentry-inner .entry-container {
        top: auto;
    }

    #contact-section .section-content-wrap .contact-form {
        width: 70%;
    }

    #contact-section .section-content-wrap .contact-info {
        width: 30%;
    }

    .wp-custom-logo .custom-logo-link {
        margin-right: 21px;
    }

    /* For browsers that support 'object-fit' */
    @supports (object-fit: cover) {
        .custom-header-media video,
        .custom-header-media iframe {
            left: 0;
            position: absolute;
            -o-object-fit: cover;
            object-fit: cover;
            top: 0;
            -ms-transform: none;
            -moz-transform: none;
            -webkit-transform: none;
            transform: none;
            width: 100%;
            height: 100%;
        }
    }

    .custom-header-content .entry-container-wrap,
    #promotion-section.content-frame .entry-container-frame {
        margin: 0;
        padding: 42px;
        text-align: left;
    }

    #colophon .site-navigation .menu-item-has-children > a {
        padding-right: 25px;
    }

    .numbers-content-wrapper .hentry {
        margin-bottom: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #numbers-section.no-section-heading {
        padding-top: 49px;
    }

    #numbers-section .numbers-content-wrapper {
        padding: 0 25px;
    }

    .contact-section .section-content-wrap .contact-info {
        padding-right: 45px;
    }

    .contact-section .wrapper .entry-title {
        padding: 0;
        padding-bottom: 30px;
    }

    #colophon .widget-area {
        padding-bottom: 0;
    }
}
