@media screen and (min-width: 70em) {
    #header-content input[type="search"] {
        max-width: 100%;
    }

    .boxed-layout #page {
        margin: 42px auto;
    }

    .home.boxed-layout #header-navigation-area {
        margin-bottom: 35px;
    }

    .wp-custom-logo .custom-logo-link,
    .wp-custom-logo .site-identity {
        display: inline-block;
    }

    .post-wrapper .more-link {
        margin-top: 28px;
    }

    .section-content-wrapper .entry-footer .entry-meta {
        margin: 28px 0 0;
    }

    #promotion-section .entry-container {
        margin: 4.375rem 0;
    }

    #promotion-section.content-frame .entry-container-frame {
        padding: 4.375rem 0;
    }

    .portfolio-content-wrapper .entry-summary {
        display: block;
    }

    .custom-header-content .entry-container-wrap,
    #promotion-section.content-frame .entry-container-frame {
        padding: 49px;
    }
}
