@media screen and (min-width: 85.375em) {
    .boxed-layout #page {
        margin: 49px auto;
    }

    caption,
    th,
    td {
        padding: 0.875em 1.75em;
    }

    #hero-section .entry-container {
        padding: 70px 0;
    }

    #footer-instagram .widget-title {
        margin-bottom: 42px;
        padding: 0 42px;
    }

    .team-content-wrapper .hentry-inner,
    .service-content-wrapper .hentry-inner {
        padding: 42px 35px;
    }

    .featured-content-wrapper .hentry,
    .portfolio-content-wrapper .hentry,
    .service-content-wrapper .hentry,
    .team-content-wrapper .hentry {
        margin-bottom: 35px;
    }

    #site-generator {
        padding: 35px 0;
    }

    #site-footer-navigation,
    #social-footer-navigation {
        margin-bottom: 42px;
    }

    .numbers-content-wrapper .entry-title,
    .post-wrapper .entry-title {
        font-size: 32px;
        font-size: 2rem;
    }

    .custom-header-content {
        padding: 0 45px;
        padding: 200px 45px;
    }

    #feature-slider-section .slider-content-wrapper .entry-container {
        padding: 236px 45px;
    }
}
