@media screen and (min-width: 100em) {
    .home .custom-header-content .entry-title,
    #feature-slider-section .entry-title {
        font-size: 42px;
        font-size: 2.625rem;
    }

    .custom-header-content .entry-title,
    .numbers-content-wrapper .entry-title,
    .post-wrapper .entry-title {
        font-size: 36px;
        font-size: 2.25rem;
    }

    .comments-title,
    .custom-header-content .entry-title .sub-title,
    #feature-slider-section .entry-title .sub-title,
    .comment-reply-title {
        font-size: 24px;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 48px;
        font-size: 3rem;
    }

    h2 {
        font-size: 42px;
        font-size: 2.625rem;
    }

    h3 {
        font-size: 36px;
        font-size: 2.25rem;
    }

    h4 {
        font-size: 24px;
        font-size: 1.5rem;
    }

    .boxed-layout #page {
        margin: 56px auto;
    }

    .archive-posts-wrapper .post-wrapper {
        margin-bottom: 49px;
    }

    .author-info,
    .singular-content-wrap .post-thumbnail,
    .singular-content-wrap .entry-content,
    .singular-content-wrap .entry-footer {
        margin: 49px 0;
    }

    .singular-content-wrap .entry-header,
    .archive .page-header,
    .error404 .page-header,
    .search .page-header,
    .woocommerce-products-header {
        margin-bottom: 49px;
    }

    #site-footer-navigation,
    #social-footer-navigation {
        margin-bottom: 28px;
    }

    ol .comment-respond {
        margin: 0 0 0 6rem;
    }

    #testimonial-content-section .post-thumbnail {
        margin: 0 0 -49px;
    }

    .custom-header-content .entry-container-wrap,
    #promotion-section.content-frame .entry-container-frame {
        padding: 56px;
    }

    .page-title,
    .entry-title,
    .section-title,
    #footer-instagram .widget-title {
        font-size: 36px;
        font-size: 2.25rem;
    }

    .section,
    #clients-section,
    #colophon .widget-area,
    #footer-newsletter .widget {
        padding: 35px 0;
    }

    .page-template .site-content,
    .page-template-default .site-content {
        padding: 63px 0;
    }

    #numbers-section.no-section-heading {
        padding-top: 70px;
    }

    #colophon .widget-area {
        padding-bottom: 0;
    }

    #contact-section {
        padding-top: 70px;
    }

    #contact-section .contact-section-map {
        margin-top: -70px;
    }

    .custom-header-content {
        padding-bottom: 220px;
        padding-top: 220px;
    }

    #feature-slider-section:hover .cycle-prev {
        left: 3%;
    }

    #feature-slider-section:hover .cycle-next {
        right: 3%;
    }

    #feature-slider-section .cycle-prev,
    #feature-slider-section .cycle-next {
        width: 60px;
        height: 60px;
    }

    #feature-slider-section .cycle-prev .icon,
    #feature-slider-section .cycle-next .icon {
        font-size: 35px;
        font-size: 2.1875rem;
        margin: 9px 0;
    }
}
