@media screen and (min-width: 41.6875em) {
    .entry-meta .sep {
        display: inline;
        margin: 0 7px;
    }

    .entry-header .entry-meta > span {
        clear: none;
        display: inline-block;
        margin-right: 7px;
    }

    .entry-header .entry-meta > span:last-child {
        margin-right: 0;
    }

    .featured-content-wrapper.layout-four,
    .portfolio-content-wrapper.layout-four,
    .service-content-wrapper.layout-four,
    .featured-content-wrapper.layout-two,
    .portfolio-content-wrapper.layout-two,
    .service-content-wrapper.layout-two,
    .team-content-wrapper.layout-two {
        margin-left: -15px;
        margin-right: -15px;
    }

    .featured-content-wrapper.layout-four .hentry,
    .portfolio-content-wrapper.layout-four .hentry,
    .service-content-wrapper.layout-four .hentry,
    .team-content-wrapper.layout-four .hentry,
    .numbers-content-wrapper.layout-four .hentry,
    .featured-content-wrapper.layout-two .hentry,
    .portfolio-content-wrapper.layout-two .hentry,
    .service-content-wrapper.layout-two .hentry,
    .team-content-wrapper.layout-two .hentry,
    .numbers-content-wrapper.layout-two .hentry,
    #colophon .two .widget-column,
    #colophon .four .widget-column {
        width: 50%;
    }

    #promotion-section .content-wrapper {
        padding: 0 15px;
    }

    #secondary .widget {
        display: block;
        float: left;
        width: 48%;
    }

    #secondary .widget:nth-child(2n+1) {
        clear: both;
        margin-right: 4%;
    }

    #content .section-content-wrapper.layout-four .hentry,
    .recent-blog-section .section-content-wrapper.layout-four .hentry,
    .featured-content-wrapper.layout-four .hentry,
    .portfolio-content-wrapper.layout-four .hentry,
    .service-content-wrapper.layout-four .hentry,
    .team-content-wrapper.layout-four .hentry,
    #content .section-content-wrapper.layout-three .hentry,
    .recent-blog-section .section-content-wrapper.layout-three .hentry,
    .featured-content-wrapper.layout-three .hentry,
    .portfolio-content-wrapper.layout-three .hentry,
    .service-content-wrapper.layout-three .hentry,
    .team-content-wrapper.layout-three .hentry,
    #content .section-content-wrapper.layout-two .hentry,
    .recent-blog-section .section-content-wrapper.layout-two .hentry,
    .featured-content-wrapper.layout-two .hentry,
    .portfolio-content-wrapper.layout-two .hentry,
    .service-content-wrapper.layout-two .hentry,
    .team-content-wrapper.layout-two .hentry {
        padding: 0 15px;
    }

    #hero-section .hentry {
        display: table;
        width: 100%;
    }

    #hero-section .post-thumbnail,
    #hero-section .entry-container {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }

    #hero-section .post-thumbnail {
        padding-bottom: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #hero-section.content-align-right .post-thumbnail {
        left: 0;
        right: auto;
    }

    #hero-section .entry-container.full-width {
        display: block;
        float: none;
        margin: 0 auto;
        max-width: 1510px;
        text-align: center;
        width: 100%;
    }

    #hero-section .entry-container,
    .sidebar .widget {
        float: left;
    }

    .featured-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .portfolio-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .service-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .team-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .numbers-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .featured-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .portfolio-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .service-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .team-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .numbers-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .sidebar .widget:nth-child(2n+1),
    #colophon .two .widget-column:nth-child(2n+1),
    #colophon .four .widget-column:nth-child(2n+1),
    #content .section-content-wrapper.layout-four .hentry:nth-child(2n+1),
    #content .section-content-wrapper.layout-two .hentry:nth-child(2n+1),
    .recent-blog-section .section-content-wrapper.layout-four .hentry:nth-child(2n+1),
    .recent-blog-section .section-content-wrapper.layout-two .hentry:nth-child(2n+1) {
        clear: both;
    }

    #hero-section.content-align-right .entry-container {
        float: right;
        padding-left: 30px;
    }

    #hero-section .entry-container {
        max-width: 560px;
    }

    #hero-section.content-align-left .entry-container {
        padding-right: 30px;
    }

    .author-info {
        text-align: left;
    }

    .author-avatar {
        clear: both;
        float: left;
        margin: 0 35px 0 0;
    }

    .two-columns .hentry {
        width: 50%;
    }

    .three-columns .hentry {
        width: 33.33%;
    }

    .four-columns .hentry {
        width: 25%;
    }

    .five-columns .hentry {
        width: 20%;
    }

    .six-columns .hentry {
        width: 16.66%;
    }

    .seven-columns .hentry {
        width: 14.28%;
    }

    .eight-columns .hentry {
        width: 12.5%;
    }

    .nine-columns .hentry {
        width: 11.11%;
    }

    .nine-columns .hentry:nth-child(9n+1),
    .eight-columns .hentry:nth-child(8n+1),
    .seven-columns .hentry:nth-child(7n+1),
    .six-columns .hentry:nth-child(6n+1),
    .five-columns .hentry:nth-child(5n+1),
    .four-columns .hentry:nth-child(4n+1),
    .three-columns .hentry:nth-child(3n+1),
    .two-columns .hentry:nth-child(2n+1) {
        clear: both;
    }

    .pagination .prev,
    .pagination .next {
        width: auto;
    }

    .posts-navigation {
        padding: 0 20px;
    }

    .post-navigation .nav-previous,
    .post-navigation .nav-next {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }

    .post-navigation .nav-previous {
        text-align: left;
    }

    .post-navigation .nav-next {
        text-align: right;
    }

    .posts-navigation div + div,
    .post-navigation div + div {
        margin-top: 0;
    }

    .posts-navigation .nav-links div:nth-child(1):nth-last-child(2),
    .posts-navigation .nav-links div:nth-child(2):nth-last-child(1) {
        display: inline-block;
        width: 48%;
    }

    .posts-navigation .nav-links div:nth-child(1):nth-last-child(2) {
        margin-right: 2%;
        text-align: left;
    }

    .posts-navigation .nav-links div:nth-child(2):nth-last-child(1) {
        margin-left: 2%;
        text-align: right;
    }

    blockquote.alignright,
    blockquote.alignleft {
        width: 50%;
    }

    .featured-content-wrapper.layout-three,
    .portfolio-content-wrapper.layout-three,
    .service-content-wrapper.layout-three {
        margin-left: -15px;
        margin-right: -15px;
    }

    .featured-content-wrapper.layout-three .hentry,
    .recent-blog-section .section-content-wrapper.layout-three .hentry,
    .portfolio-content-wrapper.layout-three .hentry,
    .service-content-wrapper.layout-three .hentry,
    .team-content-wrapper.layout-three .hentry,
    .numbers-content-wrapper.layout-three .hentry,
    #colophon .three .widget-column {
        width: 33.33%;
    }

    .featured-content-wrapper.layout-one .hentry,
    .featured-content-wrapper.layout-three .hentry,
    .recent-blog-section .section-content-wrapper.layout-one .hentry,
    .recent-blog-section .section-content-wrapper.layout-three .hentry,
    .portfolio-content-wrapper.layout-one .hentry,
    .portfolio-content-wrapper.layout-three .hentry,
    .service-content-wrapper.layout-one .hentry,
    .service-content-wrapper.layout-three .hentry,
    .team-content-wrapper.layout-one .hentry,
    .team-content-wrapper.layout-three .hentry {
        padding: 0 15px;
    }

    .featured-content-wrapper.layout-three .hentry-inner .post-thumbnail,
    .recent-blog-section .section-content-wrapper.layout-three .hentry,
    .portfolio-content-wrapper.layout-three .hentry-inner .post-thumbnail,
    .service-content-wrapper.layout-three .hentry-inner .post-thumbnail,
    .featured-content-wrapper.layout-three .hentry-inner .entry-container,
    .recent-blog-section .section-content-wrapper.layout-three .hentry-inner .entry-container,
    .portfolio-content-wrapper.layout-three .hentry-inner .entry-container,
    .service-content-wrapper.layout-three .hentry-inner .entry-container {
        display: block;
        width: 100%;
    }

    .featured-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .recent-blog-section .section-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .portfolio-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .service-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .team-content-wrapper.layout-three .hentry:nth-child(3n+1),
    .numbers-content-wrapper.layout-three .hentry:nth-child(3n+1),
    #content .section-content-wrapper.layout-three .hentry:nth-child(3n+1) {
        clear: both;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        display: inline-block;
        width: 100%;
    }

    .numbers-content-wrapper .hentry-inner .numbers-section-thumbnail.post-thumbnail {
        margin: 0;
        float: left;
    }

    .numbers-content-wrapper .hentry-inner {
        text-align: center;
    }

    .numbers-content-wrapper .entry-container {
        margin-left: 28px;
        text-align: left;
    }

    .contact-section .wrapper form {
        margin-top: 0;
    }

    .contact-section .wrapper .contact-info {
        text-align: left;
    }

    .comment-respond {
        padding: 0;
    }

    ol .comment-respond {
        margin: 0 0 0 6rem;
    }

    .comment-list .children > li {
        padding-left: 5em;
    }

    .contact-section .wrapper .contact-form {
        margin-top: 0;
    }

    .contact-section .wrapper .section-content-wrap {
        padding: 0 35px;
    }

    #content .section-content-wrapper.layout-two .hentry,
    .recent-blog-section .section-content-wrapper.layout-two .hentry {
        width: 50%;
    }

    #content .section-content-wrapper.layout-three .hentry,
    .recent-blog-section .section-content-wrapper.layout-three .hentry {
        width: 33.33%;
    }

    #content .section-content-wrapper.layout-four .hentry,
    .recent-blog-section .section-content-wrapper.layout-four .hentry {
        width: 25%;
    }

    #contact-section .section-content-wrap .contact-info .contact-details {
        display: flex;
        justify-content: space-between;
    }

    #footer-menu-section .social-navigation .icon {
        height: 32px;
        width: 32px;
    }

    #footer-menu-section .social-navigation li a {
        padding: 14px;
    }

    .footer-newsletter .section-heading-wrapper {
        padding: 28px;
    }

    .site-content .wrapper {
        padding: 0 15px;
    }

    .numbers-content-wrapper .hentry-inner {
        display: flex;
    }

    .numbers-content-wrapper .hentry {
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #numbers-section .numbers-content-wrapper {
        padding: 0 15px;
    }

    #footer-newsletter .widget-inner {
        max-width: 640px;
    }

    #footer-newsletter .widget-inner {
        padding: 35px 30px;
        padding-top: 0;
    }

    #testimonial-content-section .cycle-next {
        position: absolute;
        right: -85px;
        top: -150px;
        transform: translateY(-50%);
    }

    #testimonial-content-section .cycle-prev {
        left: -85px;
        position: absolute;
        top: -150px;
        transform: translateY(-50%);
    }

    #testimonial-content-section .cycle-slideshow {
        margin: 0 auto;
        max-width: 760px;
        width: 70%;
    }

    .site-header-main {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: space-between;
        -ms-flex-pack: center;
        align-items: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .site-branding {
        text-align: left;
    }

    .custom-logo {
        margin: 7px 0;
    }

    #primary-menu-toggle {
        margin: 0;
    }
}
