/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/**
 * 14.1 >= 667px
 */

@import "667px";

/**
* 14.2 >= 1024px
*/

@import "1024px";

/**
* 14.3 >= 1120px
*/

@import "1120px";

/**
* 14.4 >= 1366px
*/

@import "1366px";

/**
* 14.5 >= 1600px
*/

@import "1600px";
