/*
Theme Name: Clean Blocks Pro
Description: Used to style Gutenberg Blocks.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Blocks - General Styles
2.0 Blocks - Common Blocks
3.0 Blocks - Formatting
4.0 Blocks - Layout Elements
5.0 Blocks - Widgets
6.0 Blocks - Colors
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Blocks - General Styles
--------------------------------------------------------------*/

/* Captions */

[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
	border: none;
	font-size: 16px;
	margin: 0;
	padding: 14px 21px;
	text-align: center;
}

.no-sidebar .alignfull {
	margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}

.no-sidebar .alignwide  {
	margin-left  : calc( -96vw / 2 + 100% / 2 );
    margin-right : calc( -96vw / 2 + 100% / 2 );
	max-width: 96vw;
}

.alignfull.wp-block-cover,
.alignwide.wp-block-cover {
	width: auto;
}


/* 1024px */
@media screen and (max-width: 1023px) and (min-width: 768px) {
	.alignfull  {
		margin-left  : calc( -94vw / 2 + 100% / 2 );
	    margin-right : calc( -94vw / 2 + 100% / 2 );
		max-width: 94vw;
	}
	
	.fluid-layout .alignfull {
		margin-left  : calc( -100vw / 2 + 100% / 2 );
	    margin-right : calc( -100vw / 2 + 100% / 2 );
	    max-width    : 100vw;
	}
}

/* 1024px */
@media screen and (min-width: 64em) {
	.no-sidebar .alignfull  {
		margin-left: calc( -100vw / 2 + 100% / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2 );
		max-width: 100vw;
	}

	.no-sidebar.fluid-layout .alignfull {
		margin-left  : calc( -100vw / 2 + 100% / 2 );
	    margin-right : calc( -100vw / 2 + 100% / 2 );
	    max-width    : 100vw;
	}

	.no-sidebar .alignwide {
		margin-left: -35px;
		margin-right: -35px; 
		max-width: 1230px;
	}

	.no-sidebar.full-width-layout .alignwide {
		max-width: 1580px;
	}
}

/* 1366px */
@media screen and (min-width: 85.375em) {
	.no-sidebar:not(.full-width-layout) .alignwide {
	    margin-left: -120px;
	    margin-right: -120px;
	}
}


/*--------------------------------------------------------------
2.0 Blocks - Common Blocks
--------------------------------------------------------------*/

/* Paragraph */
.wp-block-paragraph.has-drop-cap:not(:focus):first-letter {
	font-size: 96px;
	font-size: 6rem;
	float: left;
	line-height: 0.6;
	margin: 7px 16px 7px -3px;
}

.rtl .wp-block-paragraph.has-drop-cap:not(:focus):first-letter {
	margin: 7px  7px -3px  16px;
}

/* Image */
.wp-block-image {
	margin-bottom: 1.750em;
}

.wp-block-image figure {
	margin-bottom: 0;
	margin-top: 0;
}

.wp-block-image figure.alignleft {
	margin: 0.75em 1.750em 1.750em 0;
}

.wp-block-image figure.alignright {
	margin: 0.75em 0 1.750em 1.750em;
}

/* Gallery */
.wp-block-gallery {
	margin-bottom: 1.750em;
	margin-left: 0;
}

.wp-block-gallery figcaption {
	font-style: italic;
}

.wp-block-gallery.aligncenter {
	display: flex;
	margin: 0 -8px;
}

/* Quote */
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.750em 0;
	padding: 0 0 0 1.944444444444444em;
}

.rtl .wp-block-quote,
.rtl .wp-block-quote.is-large,
.rtl .wp-block-quote.is-style-large {
	padding: 0 1.944444444444444em 0 0;	
}

.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
	font-style: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	padding: 0;
}

.rtl .wp-block-quote:not(.is-large):not(.is-style-large) {
	padding: 0 1.944444444444444em 0 0;	
}

.wp-block-quote:not(.is-large):not(.is-style-large):before {
	content: none;
}

.wp-block-quote.alignleft p:last-of-type,
.wp-block-quote.alignright p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote cite {
	display: block;
	font-style: italic;
	font-weight: 300;
	font-family: 'Lora-Regular';
	font-size: 13px;
	color: #6A7581;
	letter-spacing: 0;
	line-height: 28px;
}

/* Audio */
.wp-block-audio audio {
	display: block;
	width: 100%;
}

/* Cover */
.wp-block-cover-image.alignright,
.wp-block-cover.alignright,
.wp-block-cover-image.alignleft,
.wp-block-cover.alignleft,
.wp-block-cover-image.aligncenter,
.wp-block-cover.aligncenter {
	display: flex;
}

/* File */
.wp-block-file .wp-block-file__button {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	font-size: 13px;
	font-size: 0.875rem;
	font-weight: 600;
	margin-top: 2em;
	padding: 13px 28px;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}


/*--------------------------------------------------------------
3.0 Blocks - Formatting
--------------------------------------------------------------*/

/* Editor Font Size */
.has-huge-font-size {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.325;
}

.has-large-font-size {
	font-size: 28px;
	font-size: 1.75rem;
	line-height: 1.3611;
}

.has-normal-font-size {
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.75;
}

.has-small-font-size {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.75;
}

/* 1024px */
@media screen and (min-width: 64em) {
	.has-huge-font-size {
	   font-size: 36px;
	   font-size: 2.25rem;
	}

	.has-large-font-size {
		font-size: 32px;
		font-size: 2rem;
	}
}

/* 1600px */
@media screen and (min-width: 100em) {
	.has-huge-font-size {
		font-size: 48px;
		font-size: 3rem;
	}

	.has-large-font-size {
	    font-size: 36px;
	    font-size: 2.25rem;
	}
}


/* Code */
.wp-block-code {
	background: transparent;
	border: 0;
	padding: 0;
}

.wp-block-code cite:before,
.wp-block-code small:before {
	content: "\2014\00a0";
}

.wp-block-quote__citation {
	font-size: 16px;
}

/* Pullquote */
.wp-block-pullquote {
    border: none;
    padding:  1.944444444444444em 0;
    margin: 1.75em 0;
}

.wp-block-pullquote blockquote {
    border: none;
    padding: 0;
    margin: 0;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
    max-width: none;
    width: calc(50% - 0.736842105em);
    padding-left: 0;
    text-align: left;
}

.wp-block-pullquote.alignleft {
	margin: 0.412em 1.9444444444444444em 1.9444444444444444em 0;
	border-left: 4px solid #614392;
	padding-left: 25px;
	border-top: none;
	border-bottom: none;
}

.wp-block-pullquote.alignright  {
	margin: 0.412em 0 1.9444444444444444em 1.9444444444444444em;
	border-right: 4px solid #614392;
	border-top: none;
	border-bottom: none;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite {
	display: block;
	font-weight: 300;
	text-transform: none;
	font-family: Lora-Regular;
	font-size: 15px;
	color: #191E23;
	letter-spacing: 0;
	text-align: center;
	line-height: 28px;
}

.wp-block-pullquote p,
.wp-block-pullquote.alignleft p, 
.wp-block-pullquote.alignright p {
	font-weight: bold;
	font-family: 'Lora-Bold';
	font-size: 24px;
	color: #191E23;
	letter-spacing: 0;
	text-align: center;
	line-height: 35px;
}
.wp-block-pullquote.alignright p{
	text-align: right;
	padding-right: 25px;
}
.wp-block-pullquote.alignright cite{
	text-align: right;
	padding-right: 25px;
}
.wp-block-pullquote.alignleft p{
	text-align: left;
	padding-right: 25px;
}
.wp-block-pullquote.alignleft cite{
	text-align: left;
	padding-right: 25px;
}


/* Table */
.wp-block-table {
    border-collapse: collapse;
}

.wp-block-table caption,
.wp-block-table th,
.wp-block-table td {
	padding: 0.938em 1.750em;
	word-break: inherit;
}

.wp-block-table th,
.wp-block-table td {
	border: none;
	border-right: 2px solid #000;
}


/*--------------------------------------------------------------
4.0 Blocks - Layout Elements
--------------------------------------------------------------*/

/* Buttons */
.wp-block-button {
	margin-top: 1.750em;
	margin-bottom: 1.750em;
}

.wp-block-button.alignleft,
.wp-block-button.alignright {
	margin-top: 0;
}

.wp-block-button .wp-block-button__link {
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 1.615384615384615;
	padding: 10px 21px;
	text-transform: uppercase;
	white-space: nowrap;
}

.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Separator */
.wp-block-separator {
	border: 0;
	margin: 2.059em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}

/* Media & Text */
.wp-block-media-text {
	margin-bottom: 1.555555555555556em;
}

.wp-block-media-text *:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
5.0 Blocks - Widgets
--------------------------------------------------------------*/

/* Archives, Categories & Latest Posts */
.wp-block-archives.aligncenter,
.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter {
	list-style-position: inside;
	text-align: center;
}

.wp-block-latest-posts li {
	margin-bottom: 7px;
}

.wp-block-latest-posts.is-grid {
	margin-left: 0;
}

.wp-block-latest-posts__post-date {
	font-size: 13px;
	font-size: 0.8125rem;
    letter-spacing: 0;
    line-height: 1.75;
    text-transform: uppercase;
}

/* Comments */
.wp-block-latest-comments__comment {
	border-top: 1px solid;
	font-size: inherit;
	margin: 0;
	padding: 35px 0;
}

.wp-block-latest-comments article {
	margin-bottom: 0;
}

.blog:not(.has-sidebar) #primary .wp-block-latest-comments article,
.archive:not(.page-one-column):not(.has-sidebar) #primary .wp-block-latest-comments article,
.search:not(.has-sidebar) #primary .wp-block-latest-comments article {
	float: none;
	width: 100%;
}

.wp-block-latest-comments a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.wp-block-latest-comments__comment-meta {
	margin-bottom: 14px;
}

.wp-block-latest-comments__comment-excerpt p {
	font-size: inherit;
}

.wp-block-latest-comments__comment-excerpt >:last-child {
	margin-bottom: 0;
}

.wp-block-latest-comments__comment-author,
.wp-block-latest-comments__comment-link {
	font-weight: 500;
	text-decoration: none;
}

.wp-block-latest-comments__comment-date {
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: 0;
	margin: 7px 0 0;
	text-transform: uppercase;
}


/*--------------------------------------------------------------
6.0 Blocks - Colors
--------------------------------------------------------------*/

.wp-block-file .wp-block-file__button,
.wp-block-button .wp-block-button__link {
	background-color: #614392;
	color: #fff;
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
	background-color: #111;
	color: #fff;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite {
	color: #666;
}

.wp-block-latest-posts__post-date, 
.wp-block-latest-comments__comment-date,
[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
	color: #191E23;
}

.wp-block-pullquote {
    border-top: 4px solid #614392;
	border-bottom: 4px solid #614392;
	color: #666;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-color: #614392;
	border-left: none;
	font-style: italic;
}

.has-white-color {
	color: #fff;
}

.has-white-background-color {
	background-color: #fff;
}

.has-black-color {
	color: #000;
}

.has-black-background-color {
	background-color: #000;
}

.has-gray-color {
	color: #f4f4f5;
}

.has-gray-background-color {
	background-color: #f4f4f5;
}

.has-blue-color {
	color: #614392;
}

.has-blue-background-color {
	background-color: #614392;
}
