/*
Theme Name: Clean Blocks Pro
Description: Used to style Gutenberg Blocks in the editor.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 General Typography
2.0 General Block Styles
3.0 Blocks - Common Blocks
4.0 Blocks - Formatting
5.0 Blocks - Layout Elements
6.0 Blocks - Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 General Typography
--------------------------------------------------------------*/
.editor-post-title__block .editor-post-title__input {
	font-size: 32px;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.3125;
	margin: 0 0 42px;
	padding: 0;
	font-family: 'Lora', serif;
	text-align: left;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.has-huge-font-size {
	font-size: 38px;
	font-size: 2.375rem;
	line-height: 1.3125;
}

.has-large-font-size {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.325;
}

.has-normal-font-size {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

.has-small-font-size {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.75;
}

.wp-block-quote,
.editor-styles-wrapper .wp-block-quote p {
	font-size: 18px;
	font-size: 1.125rem;
	font-style: normal;
	line-height: 1.55555555556;
}

.editor-block-list__layout .editor-block-list__block[data-align=full] {
	margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;
}

.editor-block-list__layout .editor-block-list__block[data-align=wide] {
	margin-left: calc( -62vw / 2 + 100% / 2 );
    margin-right: calc( -62vw / 2 + 100% / 2 );
    max-width: 62vw;
}

/* 1024 */
@media screen and (min-width: 64em) {
	.has-huge-font-size,
	.editor-post-title__block .editor-post-title__input {
	   font-size: 36px;
	   font-size: 2.25rem;
	}

	.has-large-font-size {
		font-size: 32px;
		font-size: 2rem;
	}
	
	h1,
	.mce-content-body h1 {
		font-size: 48px;
		font-size: 3rem;
		line-height: 1.325;
	}

	h2,
	.mce-content-body h2 {
		font-size: 42px;
		font-size: 2.625rem;
		line-height: 1.3611;
	}

	h3,
	.mce-content-body h3 {
		font-size: 36px;
		font-size: 2.25rem;
		line-height: 1.4;
	}

	h4,
	.mce-content-body h4 {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1.4583;
	}

	h5,
	.mce-content-body h5 {
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 1.55;
	}

	h6,
	.mce-content-body h6 {
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 1.5;
	}
}

/* 1600px */
@media screen and (min-width: 100em) {
	.has-huge-font-size,
	.editor-post-title__block .editor-post-title__input {
		font-size: 48px;
		font-size: 3rem;
	}

	.has-large-font-size {
	    font-size: 36px;
	    font-size: 2.25rem;
	}
}


/*--------------------------------------------------------------
2.0 General Block Styles
--------------------------------------------------------------*/

/* Main column width */

.editor-styles-wrapper {
	margin: 0 auto !important;
	max-width: 100% !important; /* Override where editor-style.css is affecting this */
	width: 774px;
}

.wp-block {
	max-width: 1020px; /* 990px + 30px to account for padding. */
}

.wp-block-separator {
	border: 0;
	margin: 1.75em auto;
}

/* List styles */
.edit-post-visual-editor ul:not(.wp-block-gallery),
.editor-block-list__block ul:not(.wp-block-gallery),
.block-library-list ul,
.edit-post-visual-editor ol,
.editor-block-list__block ol,
.block-library-list ol,
.block-library-list .editor-rich-text__tinymce {
	margin:  0 1.75em 1.3125em;
	padding: 0;
}

.edit-post-visual-editor ul:not(.wp-block-gallery),
.editor-block-list__block ul:not(.wp-block-gallery),
.block-library-list ul {
	list-style: disc;
}

.edit-post-visual-editor ol,
.editor-block-list__block ol,
.block-library-list ol {
	list-style: decimal;
	margin-left: 1.3125em;
}

.edit-post-visual-editor ul:not(.wp-block-gallery) li,
.editor-block-list__block ul:not(.wp-block-gallery) li,
.edit-post-visual-editor ol li,
.editor-block-list__block ol li,
.block-library-list li {
	margin-bottom: 0;
}

.edit-post-visual-editor ul:not(.wp-block-gallery) li > ul,
.editor-block-list__block ul:not(.wp-block-gallery) li > ul,
.block-library-list li > ul,
.edit-post-visual-editor li > ol,
.editor-block-list__block li > ol,
.block-library-list li > ol {
	margin-bottom: 0;
}

.rtl .edit-post-visual-editor ul:not(.wp-block-gallery),
.rtl .editor-block-list__block ul:not(.wp-block-gallery),
.rtl .block-library-list ul,
.rtl .edit-post-visual-editor ol,
.rtl .editor-block-list__block ol,
.rtl .block-library-list ol {
	margin-left: 0;
	margin-right: 1.3125em;
	padding: 0;
}

.rtl .edit-post-visual-editor ol,
.rtl .editor-block-list__block ol,
.rtl .block-library-list ol {
	margin-left: 1.3125em;
	margin-right: 1.3125em;
}

/* Quotes */
.rtl .editor-block-list__block blockquote {
	border-left: 0;
	padding-left: 0;
}

/* Captions */
[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
	background-color: #f4f4f5;
	border: none;
	color: rgba(0,0,0,0.6);
	font-size: inherit;
	font-style: italic;
	line-height: inherit;
	margin: 0;
	padding: 14px 21px;
	text-align: center;
}


/*--------------------------------------------------------------
3.0 Blocks - Common Blocks
--------------------------------------------------------------*/

/* Paragraph */
.wp-block-paragraph.has-drop-cap:not(:focus):first-letter {
	float: left;
	font-size: 96px;
	font-size: 6rem;
	line-height: 0.6;
	margin: 7px 16px 6px -3px;
}

.rtl .wp-block-paragraph.has-drop-cap:not(:focus):first-letter {
	margin: 7px 6px -3px 16px;
}

/* Quote */
.wp-block-quote:not(.is-large):not(.is-style-large):before {
	content: none;
}

.wp-block-quote.alignleft p:last-of-type,
.wp-block-quote.alignright p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote cite {
	color: inherit;
	font-size: inherit;
}

/* File */
.wp-block-file__textlink {
	box-shadow: 0 1px 0 0 currentColor;
	color: #007acc;
}

.wp-block-file .wp-block-file__button {
	background: #000;
	border: 0;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	color: #fff;
	font-family: 'OpenSans', sans-serif;
	font-weight: 600;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.84375em 0.875em 0.78125em;
	text-transform: uppercase;
}

/*--------------------------------------------------------------
4.0 Blocks - Formatting
--------------------------------------------------------------*/

/* Code */
.wp-block-code {
	border: 0;
	padding: 0.125em 0.25em;
}

/* Classic */
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	overflow: hidden;
	padding: 0 0 0 1.263157895em;
}

.editor-block-list__block .wp-block-freeform.block-library-rich-text__tinymce blockquote:not(.alignleft):not(.alignright) {
	margin-left: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	font-size: 19px;
	font-size: 1.1875rem;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-style: normal;
	line-height: 1.75;
}

.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
	padding: 0 0 0 1.944444444444444em;
}

.wp-block-quote__citation {
	color: #666;
	font-size: 16px;
	font-size: 1rem;
	font-style: italic;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
	text-decoration: none;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
    max-width: none;
    width: calc(50% - 0.736842105em);
    padding-left: 0;
    text-align: left;
}

.wp-block-pullquote.alignleft {
	margin: 0.75em 1.750em 1.750em 0;
}

.wp-block-pullquote.alignright  {
	margin: 0.75em 0 1.750em 1.750em;
}

.rtl .wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border-left-width: 0;
	border-right-width: 4px;
	overflow: hidden;
	padding-left: 0;
	padding-right: 1.263157895em;
}

.rtl .wp-block-freeform.block-library-rich-text__tinymce .alignleft {
	float: left;
}

.rtl .wp-block-freeform.block-library-rich-text__tinymce .alignright {
	float: right;
}

.rtl .wp-block-freeform.block-library-rich-text__tinymce blockquote.alignleft {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

.rtl .wp-block-freeform.block-library-rich-text__tinymce blockquote.alignright {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

/* Pullquote */
.wp-block-pullquote {
	border-top: 4px solid #0190c8;
	border-bottom: 4px solid #0190c8;
	color: inherit;
	padding: 1.944444444444444em 0;
}

.wp-block-pullquote blockquote > .editor-rich-text p {
	font-size: inherit;
}

.editor-styles-wrapper .wp-block-pullquote blockquote {
	border: none;
	padding: 0;
	margin: 0;
}

.editor-styles-wrapper .wp-block-pullquote .wp-block-pullquote__citation {
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-style: italic;
	font-weight: 300;
	line-height: 1.5;
	text-transform: none;
	text-decoration: none;
}


/*--------------------------------------------------------------
5.0 Blocks - Layout Elements
--------------------------------------------------------------*/

/* Buttons */
.wp-block-button .wp-block-button__link {
	border: none;
	background-color: #0190c8;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 1.615384615384615;
	padding: 10px 21px;
	text-transform: uppercase;
	white-space: nowrap;
}

.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
	background-color: #111;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Media & Text */
.wp-block-media-text *:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
6.0 Blocks - Widgets
--------------------------------------------------------------*/

/* Archives, Categories & Latest Posts */
[data-align="center"] .wp-block-archives ul,
[data-align="center"] .wp-block-categories ul,
[data-align="center"] .wp-block-latest-posts ul {
	list-style-position: inside;
}

/* Latest Comments */
.wp-block-latest-comments {
	margin: 0;
}

.wp-block-latest-comments__comment {
	font-size: inherit;
}

.wp-block-latest-comments__comment-meta {
	margin-bottom: 14px;
}

.editor-block-list__block .wp-block-latest-comments__comment-meta a {
	box-shadow: none;
	font-weight: 500;
	text-decoration: none;
}

.wp-block-latest-comments__comment-date {
	color: rgba(0,0,0,0.6);
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 2;
	margin: 7px 0 0;
	text-transform: uppercase;
}

.wp-block-latest-comments .wp-block-latest-comments__comment {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 35px 0;
}

.wp-block-latest-comments__comment-excerpt p:last-child {
	margin-bottom: 0;
}

.editor-block-list__block-edit ul.wp-block-gallery {
	margin-left: 0 !important;
}

/* Latest Posts */
.wp-block-latest-posts li {
	margin-bottom: 7px;
}

.edit-post-visual-editor .wp-block-latest-posts.is-grid {
	list-style: none;
	margin-left: 0;
	margin-right: 0;
}

.edit-post-visual-editor .wp-block-latest-posts.is-grid li {
	margin-bottom: 16px;
}

.edit-post-visual-editor .wp-block-latest-posts__post-date {
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	color: rgba(0,0,0,0.6);
    letter-spacing: 0;
    text-transform: uppercase;
}
.edit-post-visual-editor .editor-block-list__block{
	padding-left: 29px;
	padding-right: 29px;
}
