/*
Theme Name: Clean Blocks Pro
Description: Used to style the TinyMCE editor.
*/

/**
 * Table of Contents
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Padding/Margin
 * 5.0 - Forms
 * 6.0 - Navigation
 *   6.1 - Links
 * 7.0 - Alignments
 * 8.0 - Content
 *    8.1 - Posts and pages
 * 9.0 - Media
 *    9.1 - Captions
 *    9.2 - Galleries
 * 10.0 - Media Queries
 *    10.1 - >= 1024px
 *    10.2 - >= 1600px
 * 11.0 - Colors
 * 12.0 - RTL
 */


/**
 * 1.0 - Body
 */

 body {
	margin: 30px 25px;
	max-width: 1040px;
	vertical-align: baseline;
}


/**
 * 2.0 - Typography
 */

body,
button,
input,
select,
textarea {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 400;
	font-family: 'Lora', serif;
	line-height: 1.647058823529412;
}

h1,
.mce-content-body h1,
h2,
.mce-content-body h2,
h3,
.mce-content-body h3, 
h4,
.mce-content-body h4,
h5,
.mce-content-body h5,
h6,
.mce-content-body h6 {
	font-family: 'Lora', serif;
	font-weight: 700;
}

.drop-cap:first-letter {
	font-size: 96px;
	font-size: 6rem;
	float: left;
	line-height: 0.6;
	margin: 7px 16px 7px -3px;
}

h1,
.mce-content-body h1 {
	font-size: 32px;
  	font-size: 2rem;
	line-height: 1.325;
}

h2,
.mce-content-body h2 {
	font-size: 28px;
  	font-size: 1.75rem;
	line-height: 1.3611;
}

h3,
.mce-content-body h3 {
	font-size: 24px;
  	font-size: 1.5rem;
	line-height: 1.4;
}

h4,
.mce-content-body h4 {
	font-size: 22px;
  	font-size: 1.375rem;
	line-height: 1.4583;
}

h5,
.mce-content-body h5 {
	font-size: 18px;
  	font-size: 1.125rem;
	line-height: 1.55;
}

h6,
.mce-content-body h6 {
	font-size: 16px;
  	font-size: 1rem;
	line-height: 1.5;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0;
	text-rendering: optimizeLegibility;
	margin: 70px 0 35px 0;
}

p {
	margin: 0 0 35px;
}

dfn,
cite,
i {
	font-style: italic;
}

blockquote {
	border: none;
	font-style: italic;
	margin: 0 0 0;
	overflow: hidden;
	font-size: 24px;
	font-size: 1.5rem;
	color: #191E23;
	letter-spacing: 0;
	line-height: 1.45833333333;
	padding: 0;
}

blockquote.alignright {
	border-right: 4px solid #614392;
	padding: 0 1.250em 0 0;
	text-align: right;
	line-height: 1.45833333333;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
	font-style: normal; 
}

blockquote.alignleft {
	border-left: 4px solid #614392;
	padding: 0 0 0 1.250em;
	line-height: 1.45833333333;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
	font-style: normal; 
}

blockquote cite,
blockquote small {
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: 300;
	line-height: 2.15;
}

blockquote em,
blockquote i {
	font-style: italic;
}

em,
address {
	font-style: normal;
	margin: 0 0 2.882em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: 'courier', monospace;
}

pre {
	font-size: 1em;
	margin: 0 0 1.750em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

mark,
ins,
code {
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #eee;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}


/**
 * 3.0 - Elements
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

hr {
	border: 0;
	height: 1px;
	margin: 0 auto 1.750em;
}

ul,
ol {
	margin: 0 0 1.750em 1.3125em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1.750em;
}

dt {
	font-weight: 500;
}

dd {
	margin: 0 1.3125em 1.750em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: middle;
}

del {
	opacity: 0.8;
}

table,
.mce-item-table {
    border: 1px solid;
}

thead{
	border-bottom: 1px solid;
}

table,
.mce-item-table {
	border: 2px solid #000;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.750em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
.mce-item-table caption {
	border: 0;
    font-weight: 500;
    text-align: center;
}

th,
.mce-item-table th,
td,
.mce-item-table td {
	border: none;
	border-left: 1px solid;
    font-weight: normal;
    text-align: left;
}

thead th {
	font-weight: 700;
}

th a {
	text-decoration: none;
}

caption,
th,
td {
    padding: 0.412em 0.824em;
}

.displaynone {
	display: none;
}

.displayblock {
	display: block;
}


/**
 * 4.0 - Padding/Margin
 */

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 11px 30px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	padding: 13px 17px;
}


/**
 * 5.0 - Forms
 */

input {
	line-height: normal;
}

.button,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
	text-decoration: none;
}

.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background: transparent;
	border: 1px solid;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-top: 7px;
	width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	outline: 0;
}

.post-password-form {
	margin-bottom: 1.75em;
}

.post-password-form label {
	display: block;
	margin-bottom: 1.75em;
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: 0.824em;
}

.post-password-form > :last-child {
	margin-bottom: 0;
}


/**
 * 6.0 - Navigation
 */

/**
 * 6.1 - Links
 */

a {
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}


/**
 * 7.0 - Alignments
 */

.alignleft {
	float: left;
	margin: 0.75em 1.750em 1.750em 0;
	width: 40%;
}

.alignright {
	float: right;
	margin: 0.75em 0 1.750em 1.750em;
	width: 40%;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.750em;
}


/**
 * 8.0 - Content
 */

/**
 * 8.1 - Posts and pages
 */

.more-link {
	clear: both;
	display: block;
	margin-top: 28px;
	word-wrap: break-word;
}

.more-button {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
	padding: 11px 30px;
}

.page-links {
	clear: both;
	margin: 0 0 1.75em;
}

.page-links a,
.page-links > span {
	border: 1px solid;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	height: 1.8461538462em;
	line-height: 1.6923076923em;
	margin-right: 0.3076923077em;
	text-align: center;
	text-decoration: none;
	width: 1.8461538462em;
}

.page-links a:hover,
.page-links a:focus {
	border-color: transparent;
}

.page-links > .page-links-title {
	border: none;
	height: auto;
	margin: 0;
	padding-right: 0.6153846154em;
	width: auto;
}

.entry-attachment {
	margin-bottom: 1.75em;
}

.entry-caption {
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 7px;
}

.entry-caption > :last-child {
	margin-bottom: 0;
}


/**
 * 9.0 - Media
 */

.avatar {
	border-radius: 50%;
}

.wp-smiley {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

a img {
	display: block;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	margin-bottom: 1.75em;
	max-width: 100%;
	vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}


/**
 * 9.1 - Captions
 */

.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	font-style: italic;
	text-align: center;
}


/**
 * 9.2 - Galleries
 */

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	display: block;
	font-style: italic;
	padding-top: 7px;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/**
 * 10.0 - Media Queries
 */

/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
 
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}


/**
 * 10.1 - >= 1024px
 */

@media screen and (min-width: 64em) {
	h1,
	.mce-content-body h1 {
		font-size: 36px;
		font-size: 2.25rem;
	}

	h2,
	.mce-content-body h2 {
		font-size: 32px;
		font-size: 2rem;
	}

	h3,
	.mce-content-body h3 {
		font-size: 28px;
		font-size: 1.75rem;
	}

	h4,
	.mce-content-body h4 {
		font-size: 24px;
		font-size: 1.5rem;
	}

	h5,
	.mce-content-body h5 {
		font-size: 22px;
		font-size: 1.375rem;
	}

	h6,
	.mce-content-body h6 {
		font-size: 18px;
		font-size: 1.125rem;
	}
}

/**
 * 10.2 - >= 1600px
 */

@media screen and (min-width: 100em) {
	h1,
	.mce-content-body h1 {
		font-size: 48px;
		font-size: 3rem;
	}

	h2,
	.mce-content-body h2 {
		font-size: 36px;
		font-size: 2.25rem;
	}

	h3,
	.mce-content-body h3 {
		font-size: 30px;
		font-size: 1.875rem;
	}

	h4,
	.mce-content-body h4 {
		font-size: 26px;
		font-size: 1.635rem;
	}
}


/**
 * 11.0  - >= Colors
 */

/* Background Color */
body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

/* Secondary Background Color (4% of background color)*/
hr,
pre,
.wp-caption .wp-caption-text {
	background-color: #f4f4f5;
}

/* Main Text Color (93% of background color) */
body,
button,
input,
select,
textarea {
	color: rgba(0, 0, 0, 0.93);
}

/* Secondary Link Color (50% of main text color) */
.entry-caption,
.wp-caption .wp-caption-text,
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	color: rgba(0, 0, 0, 0.5);
}

/* Button Background Color */
.button,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.page-links a {
    background-color: #000;
}

/* Button Text Color */
.page-links a,
.page-links a:hover,
.page-links a:focus,
mark,
ins,
.button,
.button:hover,
.button:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: #fff;
}

/* Button Hover Background Color */
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus,
.section .more-button:hover,
.section .more-button:focus
mark,
ins,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.page-links a:hover,
.page-links a:focus {
	background-color: #614392;
}

/* Link Color */
a,
.required {
	color: #191E23;
}

blockquote,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	border-color: #614392;
}

/* Link Hover Color */
a:hover,
a:focus,
a:active,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	color: #614392;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	border-color: #111;
}

/* Heading Text Color */
h1,
h2,
h3,
h4,
h5,
h6,
.page-links > .page-links-title {
	color: #111;
}

/* Border Color */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.page-links a,
.page-links > span {
	border-color: #e5e5e5;
}


/**
 * 12.0 - RTL
 */

.rtl .drop-cap::first-letter {
    float: right;
    margin: 7px  7px -3px  16px;
}

.rtl ul,
.rtl ol {
	margin: 0 1.647em 2.059em 0;
}

.rtl li > ul,
.rtl li > ol {
    margin-bottom: 0;
}

.rtl th,
.rtl .mce-item-table th,
.rtl td,
.rtl .mce-item-table td {
	text-align: right;
}
