.team-content-wrapper .hentry-inner,
.service-content-wrapper .hentry-inner {
    text-align: center;
}

.featured-content-wrapper .hentry-inner {
    text-align: left;
}

.featured-content-wrapper .post-thumbnail,
.portfolio-content-wrapper .post-thumbnail {
    width: 100%;
}

.featured-content-wrapper.section-content-wrapper .post-thumbnail {
    margin: 0;
}

.featured-content-wrapper .entry-title,
.portfolio-content-wrapper .entry-title {
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.66666666667;
}

.featured-content-wrapper .more-link {
    text-align: left;
}

.featured-content-wrapper .entry-container,
.team-content-wrapper .hentry-inner,
.service-content-wrapper .hentry-inner {
    padding: 28px;
}

#feature-slider-section .more-link span {
    border: none;
}

/* Portolio */
.portfolio-content-wrapper {
    overflow: hidden;
}

.portfolio-content-wrapper .post-thumbnail {
    margin: 0;
}

.portfolio-content-wrapper .hentry-inner .portfolio-thumbnail span {
    display: none;
}

.portfolio-content-wrapper .hentry {
    height: auto;
    line-height: 1.75;

    &:hover {
        .hentry-inner .portfolio-thumbnail span {
            border-radius: 100px;
            display: block;
            left: 50%;
            line-height: 1;
            padding: 14px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
        }
    }
}

.portfolio-content-wrapper .hentry-inner {
    position: relative;
}

.portfolio-content-wrapper .entry-container {
    height: 100%;
    opacity: 1;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.portfolio-content-wrapper .hentry:hover .entry-container {
    opacity: 1;
}

.portfolio-content-wrapper .entry-meta a {
    text-decoration: none;
}

.portfolio-content-wrapper .entry-container {
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.portfolio-content-wrapper .entry-container > .inner-wrap {
    background: rgba(0, 0, 0, 0.65);
    bottom: 0;
    display: block;
    left: 0;
    padding: 14px 21px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.portfolio-content-wrapper .section-content-wrapper .entry-title {
    display: block;
    position: relative;
}

.featured-content-wrapper .hentry .post-thumbnail img,
.portfolio-content-wrapper .hentry .post-thumbnail img {
    width: 100%;
}

#portfolio-content-section .more-link .more-button {
    border: none;

    &:hover {
        background: none;
    }
}

.portfolio-content-wrapper .hentry .hentry-inner .portfolio-thumbnail a {
    &:hover {
        background: rgba(0, 0, 0, 0.35);
    }
}
