#hero-section {
    margin: 0;
    padding: 0;
}

#hero-section:after {
    border: 0;
}

#hero-section .hentry {
    position: relative;
}

#hero-section .entry-container {
    clear: both;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#hero-section .post-thumbnail {
    background-position: center center;
    background-size: cover;
    content: "";
    float: left;
    margin: 0;
    padding-bottom: 100%;
    width: 100%;
}

#hero-section .post-thumbnail a {
    bottom: 0;
    border: none;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
}

.hero-content-wrapper .entry-container.full-width > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
}

#hero-section .entry-content {
    margin: 21px 0 0;
}

#hero-section .more-link .more-button {
    border: none;
}
