.section {
    clear: both;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
}

.section:after,
.site-content:after,
.breadcrumb-area:after {
    bottom: 0;
    content: "";
    left: 0;
    margin: 0 auto;
    max-width: 1920px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
}

.section:after,
.boxed-layout .site-content:after,
.boxed-layout .breadcrumb-area:after {
    max-width: 1510px;
    width: calc(100% - 60px);
}

.boxed-layout #clients-section.has-background-image {
    margin: 0 auto;
    max-width: 1510px;
}

.section-heading-wrapper {
    margin: 0 auto;
    max-width: 1090px;
    text-align: center;
    width: 100%;
}

.section-title {
    margin: 0;
    text-transform: capitalize;
}

.recent-blog-section .wrapper {
    max-width: 1040px;
}

/**
 * 13.1 - Slider
 */

@import "slider";

/**
* 13.2 - Featured Content & Portfolio
*/

@import "featured-content-and-portfolio";

/**
* 13.3 - Hero Content
*/

@import "hero-content";

/**
* 13.4 - Testimonials & Logo
*/

@import "testimonials-and-logo";

/**
* 13.5 - Promotional Headline
*/

@import "promotional-headline";

/**
* 13.6 - Others
*/

@import "others";

/**
* 13.7 - Team Content Section
*/

@import "team-content-section";

/**
* 13.8 - Numbers Section
*/

@import "numbers-section";
