.woocommerce nav.woocommerce-pagination {
    text-align: left;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
    margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 7px 10px;
}

.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
    border: none;
    margin-right: 7px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce p.stars a,
.woocommerce nav.woocommerce-pagination ul li a,
.cart_item a {
    border: none;
}

.woocommerce-cart-form #coupon_code {
    padding: 11px 6px;
    width: auto !important;
}

.woocommerce .quantity .qty {
    margin: 0;
    width: 4.5em;
}

.woocommerce div.product form.cart div.quantity {
    margin: 0 17px 0 0;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img,
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    width: 80px;
}

#footer-instagram .widget {
    margin: 0;
    padding: 0;
}

#footer-instagram .widget-title {
    letter-spacing: 0;
    max-width: 1025px;
    margin: 0 auto 35px;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
}

.catch-instagram-feed-gallery-widget .instagram-button {
    margin: 0;
}

.catch-instagram-feed-gallery-widget-wrapper .button {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    line-height: 1.647058823529412;
    padding: 11px 30px;
    text-decoration: none;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .button {
    margin: 28px 0;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item,
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item {
    margin: 0;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item,
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item {
    width: 16.666%;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item:nth-child(3n+1),
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item:nth-child(3n+1) {
    clear: none;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .item:nth-child(6n+1),
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .item:nth-child(6n+1) {
    clear: both;
}

#footer-instagram .catch-instagram-feed-gallery-widget-wrapper .default .instagram-button,
#footer-instagram .catch-instagram-feed-gallery-widget-wrapper.default .instagram-button {
    display: none;
}

.widget.essential-widgets {
    clear: none;
}

#footer-newsletter .wrapper {
    text-align: center;
}

#footer-newsletter .widget-inner {
    margin: 0 auto;
    padding: 30px;
    padding-top: 0;
}

#footer-newsletter .widget.ew-newsletter,
#footer-newsletter .ewnewsletter .ew-newsletter-wrap .ew-newsletter-subbox,
#footer-newsletter .ewnewsletter .ew-newsletter-wrap #subbutton {
    margin: 0;
}

#footer-newsletter .ew-newsletter-wrap form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

//Newsletter

.footer-newsletter .section-heading-wrapper .section-heading-wrap .section-title {
    letter-spacing: 0;
    line-height: 1.36111111111;
    text-align: center;
}

.footer-newsletter .section-heading-wrapper {
    letter-spacing: 0;
    line-height: 1.55555555556;
    padding: 28px 0;
    text-align: center;
}

.footer-newsletter .section-heading-wrapper .section-heading-wrapper {
    padding: 0;
}

#footer-newsletter .ewnewsletter .ew-newsletter-wrap #subbutton {
    border-radius: 0px 23px 23px 0px;
    border: none;
}

#footer-newsletter .ewnewsletter .ew-newsletter-wrap .ew-newsletter-subbox {
    border-radius: 23px 0px 0px 23px;

    &::placeholder {
        letter-spacing: 0;
        line-height: 1.86666666667;
    }
}

.contact-section-map {
    height: 500px;
    margin: 0 0 -140px 0;
}

.contact-section .wrapper {
    .section-content-wrap {
        border-radius: 25px;
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.05);
        margin: 0 30px;
        padding: 21px;

        article {
            display: block;
        }
    }

    .contact-info {
        text-align: center;
    }

    .entry-title {
        line-height: 1.36111111111;
        padding: 35px 30px;

        span {
            display: block;
            font-weight: 400;
            margin-top: 14px;
        }
    }

    .contact-details {
        list-style: none;
        margin: 0;

        span {
            font-weight: 700;
            letter-spacing: 0;
            line-height: 1.75;
            margin-left: 0;
            text-transform: uppercase;
        }

        p {
            font-weight: 400;
            margin-left: 0;
        }

        svg {
            height: 18px;
        }
    }

    .contact-form {
        margin-top: 21px;
        width: 100%;

        form {
            .contact-input {
                border: none;
                border-radius: 0;
                margin-bottom: 35px;
                width: 100%;

                &::placeholder {
                    letter-spacing: 0;
                    line-height: 1.3125;
                }
            }

            textarea {
                border: none;
                border-radius: 0;
                height: -webkit-fill-available;
                margin-bottom: 35px;
                max-height: 230px;

                &::placeholder {
                    letter-spacing: 0;
                    line-height: 1.3125;
                }
            }

            .contact-firstname {
                margin-right: 0;
            }
        }
    }

    .social-navigation {
        margin-bottom: 21px;

        ul {
            text-align: center;
        }

        li {
            margin: 7px 7px 0 0;
        }

        a {
            border-radius: 50%;
            height: 40px;
            width: 40px;

            svg {
                margin: 5px;
            }
        }
    }
}

#content .section-content-wrapper.layout-one .hentry {
    width: 100%;
}

#content .section-content-wrapper.layout-two .hentry,
.recent-blog-section .section-content-wrapper.layout-two .hentry {
    width: 100%;
}

#content .section-content-wrapper.layout-three .hentry,
.recent-blog-section .section-content-wrapper.layout-three .hentry {
    width: 100%;
}

#content .section-content-wrapper.layout-four .hentry,
.recent-blog-section .section-content-wrapper.layout-four .hentry {
    width: 100%;
}

.recent-blog-section .section-content-wrapper .hentry .entry-header .entry-title,
#content .section-content-wrapper .hentry .entry-header .entry-title {
    letter-spacing: 0;
    line-height: 35px;
}

#contact-section .section-content-wrap .contact-info, .contact-section .wrapper .social-navigation ul {
    text-align: center;
}

#contact-section .section-content-wrap .contact-info .contact-details {
    display: block;

    li {
        margin-bottom: 28px;

        p {
            letter-spacing: 0;
            line-height: 1.3125;
            margin-bottom: 0;
        }

        a {
            letter-spacing: 0;
            line-height: 1.3125;
        }
    }
}

#contact-section .section-content-wrap .contact-info .social-navigation {
    .menu-social-menu-container {
        .social-links-menu {
            margin: 0;
        }
    }
}

#contact-section .section-content-wrap .contact-form form p input:not(#submit) {
    letter-spacing: 0;
}

#contact-section .section-content-wrap .contact-form form .comment-form-phone,
#contact-section .section-content-wrap .contact-form form .c {
    width: 100%;
}

#contact-section .section-content-wrap .contact-form form .comment-no-of-people {
    width: 100%;
}

article.hentry.contact-info {
    width: 100%;
}

#content .section-content-wrapper .hentry .entry-footer {
    display: none;
}

#infinite-post-wrap article {
    margin-bottom: 21px;
}

#contact-section .section-content-wrap {
    margin-bottom: 42px;
}

.contact-section .wrapper .entry-title .entry-subtitle {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.55555555556;
    margin: 0;
}

.recent-blog-section .post-thumbnail, #team-content-section .post-thumbnail, #featured-content-section .post-thumbnail,
#content .post-thumbnail, #team-content-section .post-thumbnail, #featured-content-section .post-thumbnail {
    overflow: hidden;
    width: 100%;

    img {
        overflow: hidden;
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease;

        &:hover {
            -ms-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
            overflow: hidden;
        }
    }
}

.recent-blog-section .entry-header .post-thumbnail,
#content .entry-header .post-thumbnail {
    margin-bottom: 21px;
}

.header-media .custom-header-media:before {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.custom-header-content .entry-title {
    font-weight: 400;
    line-height: 1.45833333333;
}

.home .custom-header-content .entry-title {
    font-weight: 700;
    line-height: 1.45833333333;
}
