#promotion-section {
    border: 0;
    padding: 0;
}

#promotion-section .hentry {
    margin: 0;
    position: relative;
}

.post-thumbnail-background {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.post-thumbnail-background:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#promotion-section .post-thumbnail-background {
    z-index: 1;
}

#promotion-section .entry-container {
    max-width: 572px;
    margin: 0;
    position: relative;
    z-index: 2;
}

#promotion-section.content-align-right .entry-container {
    float: right;
}

#promotion-section.content-align-center .entry-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#promotion-section.content-frame .entry-container-frame {
    margin: 0;
    padding: 35px 0;
}

#promotion-section .cover-link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#promotion-section .entry-container-frame .more-link {
    text-align: left;
}

#promotion-section.content-frame .entry-container-frame .more-link .more-button {
    border: 2px solid;
}

#promotion-section.content-frame .entry-container-frame {
    padding: 35px;
}

#promotion-section .entry-container-frame p {
    letter-spacing: 0;
    line-height: 1.55555555556;
    max-width: 466px;
}

#promotion-section.content-align-center .entry-container-frame p {
    margin: 0 auto;
}

#promotion-section.content-align-center .entry-container-frame .more-link {
    text-align: center;
}

#promotion-section.content-align-center .entry-container-frame .entry-content p {
    margin: 0 auto;
}

#promotion-section.content-align-left .entry-container-frame p {
    margin: 0;
}
