#feature-slider-section {
    border: none;
    padding: 0;
}

#feature-slider-section .hentry {
    width: 100%;
}

#feature-slider-section .slider-content-wrapper .entry-container {
    text-align: center;
}

#feature-slider-section .slider-content-wrapper .more-link {
    border: none;
    text-align: center;
}

#feature-slider-section .entry-container {
    display: block;
}

#feature-slider-section .slider-image img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%;
}

#feature-slider-section .entry-container {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;

    .entry-title {
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.33333333333;
    }

    .entry-summary {
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.55555555556;

        p {
            margin-top: 21px;
        }
    }
}

#feature-slider-section .cycle-prev,
#feature-slider-section .cycle-next {
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 40px;
    opacity: 1;
    outline: none;
    padding: 7px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 40px;
    z-index: 199;
}

#feature-slider-section .cycle-prev {
    left: -100px;
}

#feature-slider-section .cycle-next {
    right: -100px;
}

#feature-slider-section:hover .cycle-prev {
    left: 5px;
}

#feature-slider-section:hover .cycle-next {
    right: 5px;
}

#feature-slider-section:hover .cycle-prev,
#feature-slider-section:hover .cycle-next {
    display: block;
    opacity: 1;
}

#feature-slider-section .cycle-prev:hover,
#feature-slider-section .cycle-prev:focus,
#feature-slider-section .cycle-next:hover,
#feature-slider-section .cycle-next:focus {
    text-decoration: none;
}

#feature-slider-section .cycle-prev .icon,
#feature-slider-section .cycle-next .icon {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 3px 0;
}

#feature-slider-section .cycle-prev .icon {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

#feature-slider-section .cycle-next .icon {
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
}

.cycle-pager {
    display: none;
}

#feature-slider-section .slider-content-wrapper .entry-container .entry-container-wrap {
    margin: 0 auto;
    max-width: 570px;
    padding: 30px;
    text-align: center;
}
