.team-content-wrapper {
    overflow: hidden;
}

.team-content-wrapper .hentry .hentry-inner {
    padding: 0;
    position: relative;

    .entry-container {
        bottom: 0;
        padding: 15px;
        position: absolute;
        top: auto;
        width: 100%;
        z-index: 99;

        .entry-summary {
            margin-top: 0;
        }

        .social-links-menu {
            margin: 0;
        }
    }
}

.team-content-wrapper .entry-title a {
    line-height: 1.55555555556;
}

.team-content-wrapper .has-social-profile .post-thumbnail {
    line-height: 1;
    margin: 0;
}

.team-content-wrapper .entry-meta {
    letter-spacing: 0;
    line-height: 1.75;
    text-transform: capitalize;
}

#team-content-section .team-content-wrapper .has-social-profile .artist-social-profile #menu-social-menu {
    margin: 0;

    li {
        a {
            padding: 9px 7px 0 7px;
        }
    }
}

.team-content-wrapper .hentry .hentry-inner .entry-container {
    webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
