#testimonial-content-section .section-content-wrapper {
    display: block;
    padding-bottom: 77px;
    position: relative;
}

#testimonial-content-section .testimonial_slider_wrap {
    width: 100%;
}

#testimonial-content-section .section-content-wrapper .entry-container {
    padding: 35px;
}

#testimonial-content-section .post-thumbnail {
    margin: 0 0 -42px;
}

#clients-section .cycle-prev,
#clients-section .cycle-next,
#testimonial-content-section .cycle-prev,
#testimonial-content-section .cycle-next {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    text-decoration: none;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 199;
}

#clients-section .icon,
#testimonial-content-section .icon {
    font-size: 32px;
    font-size: 2rem;
    width: 18px;
}

#clients-section .cycle-prev .icon,
#testimonial-content-section .cycle-prev .icon {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

#clients-section .cycle-next .icon,
#testimonial-content-section .cycle-next .icon {
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
}

#testimonial-content-section .entry-header:before {
    border-top: 3px solid;
    content: "";
    display: block;
    margin: 28px auto;
    width: 40px;
}

#testimonial-content-section .entry-title,
#testimonial-content-section .entry-meta {
    display: block;
}

#testimonial-content-section .entry-meta {
    letter-spacing: 0;
    line-height: 1.75;
    text-transform: capitalize;
}

#clients-section .cycle-pager,
#testimonial-content-section .cycle-pager {
    display: inline-block;
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 0;
    position: relative;
    top: 30px;
}

#clients-section .controller,
#testimonial-content-section .controller {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
    z-index: 101;
}

#clients-section .cycle-pager span,
#testimonial-content-section .cycle-pager span {
    clear: both;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0 7px;
    width: 16px;
}

#clients-section .cycle-pager > *,
#testimonial-content-section .cycle-pager > * {
    cursor: pointer;
}

#testimonial-content-section .entry-title {
    margin: 21px 0 0;
    line-height: 1.55555555556;
}

#testimonial-content-section .more-link {
    display: none;
}

#testimonial-content-section .entry-content {
    margin: 0;
    padding-top: 0;
    position: relative;
    letter-spacing: 0;
    line-height: 1.66666666667;
    text-align: center;
}

#testimonial-content-section .post-thumbnail {
    z-index: 1;

    img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}

/* Logo */
#clients-section {
    padding: 30px;
    padding-top: 0;
}

.clients-content-wrapper {
    margin-bottom: 35px;
    position: relative;
}

.clients-content-wrapper .post-thumbnail {
    margin: 0;
}

.clients-content-wrapper .hentry {
    padding: 0 15px 30px;
}

#testimonial-content-section .cycle-slideshow {
    margin: 0 30px;
}

#testimonial-content-section .cycle-prev,
#testimonial-content-section .cycle-next {
    position: relative;
    top: 20px;
}

.testimonial-wrapper .hentry .entry-header {
    text-align: center;
}

#clients-section .cycle-pager {
    top: 8px;
}

#testimonial-content-section .section-content-wrapper .testimonial-thumbnail.post-thumbnail + .entry-container {
    padding-top: 70px;
}
