/*
Theme Name: Clean Blocks Pro
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See: https://codex.wordpress.org/Right_to_Left_Language_Support
*/

/**
 * Table of Contents:
 *
 * 1.0 - Normalize
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Padding/Margin
 * 5.0 - Forms
 * 6.0 - Navigations
 * 7.0 - Accessibility
 * 8.0 - Widgets
 * 9.0 - Content
 *   9.1 - Header
 *   9.2 - Posts and pages
 *   9.3 - Comments
 *   9.4 - Testimonials
 *	 9.5 - Stats
 *	 9.6 - Promitional Headline
  *	 9.7 - Logo Slider

 * 10.0 - Media Queries
 *    10.1 - >= 667px
 *    10.2 - >= 1024px
 *    10.3 - >= 1200px
 *    10.4 - >= 1366px
 *    10.5 - >= 1600px
 */


/**
 * 1.0 - Normalize
 */

body {
	direction: rtl;
	unicode-bidi: embed;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: auto;
	margin-left: 0.4375em;
}


/**
 * 2.0 - Typography
 */

blockquote {
	border-left: 0;
	border-right: 0;
}

blockquote p,
blockquote.alignleft p {
	border-left: 0;
	border-right: 4px solid #614392;
	padding: 0 1.944444444444444em 0 0;
}


/**
 * 3.0 - Elements
 */

ul,
ol {
	margin: 0 1.647em 2.059em 0;
}

caption,
th,
td {
	text-align: right;
}


/**
 * 4.0 - Padding/Margin
 */

.menu-toggle .icon,
.contact-details .icon,
.entry-meta .icon {
    margin-right: 0;
    margin-left: 7px;
}

.singular-content-wrap .entry-footer .cat-links a,
.singular-content-wrap .entry-footer .tags-links a {
	margin: 0 0 10px 10px;
}

#search-toggle.menu-toggle .icon,
#search-toggle-top .icon {
	margin-left: 0;
}

.widget_categories ul, 
.widget_archive ul {
	margin-left: auto;
	margin-right: 0;
	text-align: left;
}

.widget_categories ul a, 
.widget_archive ul a {
    float: right;
}


/**
 * 5.0 - Forms
 */

input[type="search"].search-field {
	padding-left: 60px;
	padding-right: 21px;
}

.search-submit:before {
	left: 1px;
}

.search-submit {
	left: 0;
	right: auto;
}


/**
 * 6.0 - Navigation
 */

.menu-top-toggle {
	float: left;
}

.menu-search-top-toggle {
	float: right;
}

.main-navigation ul ul {
	margin-right: 0.875em;
	margin-left: auto;
}

.site-navigation .menu-item-has-children > a,
.main-navigation .menu-item-has-children > a {
	margin-right: auto;
	margin-left: 56px;
}

.dropdown-toggle {
	left: 0;
	right: auto;
}

.dropdown-toggle:after {
	left: auto;
	right: 1px;
}

.header-top-right.top-without-menu {
    float: left;
}

.post-navigation .nav-next .icon {
	margin-left: 0;
}
.post-navigation .nav-previous .icon {
	margin-right: 0;
}

/**
 * 7.0 - Accessibility
 */

.site .skip-link {
	left: auto;
	right: -9999em;
}

.site .skip-link:focus {
	left: auto;
	right: 6px;
}


/**
 * 8.0 - Widgets
 */

.tagcloud a {
	margin-right: 0;
	margin-left: 0.1875em;
}

#footer-newsletter .ewnewsletter .ew-newsletter-wrap #subbutton {
	border-radius: 23px 0px 0px 23px;
}

#footer-newsletter .ewnewsletter .ew-newsletter-wrap .ew-newsletter-subbox {
	border-radius: 0px 23px 23px 0px;
}

.widget .widget-title {
	text-align: right;
}
.widget-area ul, .widget-area ol {
    margin-right: 0;
}

#secondary .widget .hentry,
#secondary .widget .section-heading-wrapper {
    text-align: right;
}


/**
 * 9.0 - Content
 */

/**
 * 9.1 - Header
 */

.site-branding {
	margin-left: auto;
}

.site-main .hentry {
    text-align: right;
}
.singular-content-wrap .entry-title, .singular-content-wrap .entry-meta {
    text-align: right;
}


/**
 * 9.2 - Posts and pages
 */

.page-links a,
.page-links > span {
	margin-right: auto;
	margin-left: 0.3076923077em;
}
.singular-content-wrap .entry-header,
.archive .page-header,
.error404 .page-header,
.search .page-header,
.woocommerce-products-header {
    text-align: right;
}

.page-links > .page-links-title {
	padding-right: 0;
	padding-left: 0.6153846154em;
}

.section-content-wrapper .post-wrapper .entry-container{
	text-align: right;
}


/**
 * 9.3 - Comments
 */

.comment-list .children > li {
	padding-right: 0.875em;
	padding-left: 0;
}

.comment-author {
	float: right;
	margin-right: auto;
	margin-left: 1.3125em;
}

.bypostauthor > article .fn:after {
	left: auto;
	right: 3px;
}

.comment-content ul,
.comment-content ol {
	margin: 0 1.25em 1.5em 0;
}

.comment-reply-title small a {
	float: left;
}

.comment-reply-link {
	margin-left: auto;
}

.comments-title, .comment-reply-title {
    text-align: right;
}

/**
 * 9.4 - Testimonials
 */

#testimonial-content-section .post-thumbnail:before {
	left: 0;
	right: -30px;
} 

/**
*	 9.5 - Stats
 */

 .numbers-content-wrapper .hentry .post-thumbnail img {
	margin-right: 0;
	margin-left: 28px;
}

/**
*	 9.6 - Promitional Headline
 */

 #promotion-section .entry-container-frame .more-link {
    text-align: right;
}

/**
*	 9.7 - Logo Slider
 */

 #clients-section .cycle-next .icon{
	-webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#clients-section .cycle-prev .icon{
	-webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

/**
 * 10.0 - Media Queries
 */

/**
 * 10.1 - >= 667px
 */

@media screen and (min-width: 41.6875em) {
	.entry-header .entry-meta > span {
		margin-left: 4px;
		margin-right: auto;
	}

	.entry-content li > ul,
	.entry-summary li > ul,
	.comment-content li > ul,
	.entry-content blockquote > ul,
	.entry-summary blockquote > ul,
	.comment-content blockquote > ul {
		margin-right: 1.3125;
		margin-left: auto;
	}

	.entry-content li > ol,
	.entry-summary li > ol,
	.comment-content li > ol,
	.entry-content blockquote > ol,
	.entry-summary blockquote > ol,
	.comment-content blockquote > ol {
		margin-right: 1.3125;
		margin-left: auto;
	}

	.comment-list .children > li {
		padding-right: 1.75em;
		padding-left: 0;
	}

	.author-avatar {
		float: right;
		margin-right: 0;
		margin-left: 35px;
	}

	.author-info {
	    text-align: right;
	}

	.testimonial-content-wrapper .has-post-thumbnail .entry-container {
		padding: 0 30px 0 0;
	}

	.post-navigation .nav-previous {
	    text-align: right;
	}

	.post-navigation .nav-next {
	    text-align: left;
	}
	#hero-section .post-thumbnail {
		right: 50%;
	}
	#hero-section .entry-container{
		float: right;
		padding-right: 0;
		padding-left: 30px;
	}
	.numbers-content-wrapper .entry-container {
		margin-right: 28px;
	}
}


/**
 * 10.2 - >= 1024px
 */

@media screen and (min-width: 64em) {
	.main-navigation ul ul {
		left: auto;
		margin: 0;
		right: -999em;
	}

	.main-navigation li:hover > ul,
	.main-navigation li.focus > ul {
		left: 0;
		right: auto;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}

	.site-navigation .menu-item-has-children > a,
	.main-navigation .menu-item-has-children > a {
		margin: 0;
	}

	.main-navigation ul ul .menu-item-has-children > a:after {
		left: 0.5625em;
		right: auto;
		top: 0.8125em;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.content-area {
		float: right;
		margin-right: auto;
		margin-left: -100%;
	}

	.sidebar {
		float: right;
		margin-right: 70%;
		margin-left: auto;
		padding: 0;
	}

	.site-navigation .menu-item-has-children > a > .icon,
	.site-navigation .page_item_has_children > a > .icon {
	    right: 9px;
	    left: auto;
	}

	.site-navigation ul ul .menu-item-has-children > a > .icon,
	.site-navigation ul ul .page_item_has_children > a > .icon {
		left: 9px;
		right: auto;
	}

	.site-navigation .primary-menu ul,
	.site-navigation .secondary-menu ul,
	.site-navigation .footer-menu ul {
		text-align: right;
	}

	.header-top-right {
		float: left;
	}

	#site-top-navigation {
		float: right;
	}

	#search-toggle-top .icon,
	#search-toggle-right .icon {
		margin-left: 0;
	}

	.testimonial-content-wrapper .has-post-thumbnail .entry-container {
		padding: 0 50px 0 0;
	}
	.menu-search-top-toggle, .header-top-left, #site-top-navigation{
		float: right;
	}
	.header-top-bar .contact-details li{
		float: right;
		margin: 0 0 0 21px;
	}
	.site-navigation ul ul .menu-item-has-children > a > .icon,
	.site-navigation ul ul .page_item_has_children > a > .icon {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.featured-content-wrapper .hentry-inner,
	.featured-content-wrapper .more-link,
	.home .custom-header .custom-header-content .entry-container-wrap, 
	#feature-slider-section .slider-content-wrapper .entry-container .entry-container-wrap,
	#feature-slider-section .slider-content-wrapper .more-link,
	.custom-header-content h2 .more-link, .custom-header-content p .more-link {
		text-align: right;
	}
	.numbers-content-wrapper .entry-container {
		text-align: right;
	}
	#search-social-container-right #search-container {
		right: -275px;
	}
}


/**
 * 10.3 - >= 1200px
 */

@media screen and (min-width: 75em) {
	.site-branding {
		margin-right: 0;
	}

	.site-branding {
	    text-align: right;
	}

	.site-info,
	.site-footer .footer-navigation,
	.site-info.two .copyright {
		margin-left: auto;
		margin-right: 0;
	}
}

/**
 * 10.3 - >= 1366px
 */

@media screen and (min-width: 85.375em) {
	#testimonial-content-section .post-thumbnail::before {
	    right: -50px;
	}
}


/**
 * 10.4 - >= 1600px
 */

@media screen and (min-width: 100em) {
	#testimonial-content-section .post-thumbnail::before {
	    right: -70px;
	}
}
