.wp-caption {
    margin-bottom: 0;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption .wp-caption-text {
    letter-spacing: 0;
    line-height: 1.86666666667;
    text-align: center;
}
