.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative; /* Align more nicely with capital letters */
    top: -0.10em;
    vertical-align: middle;
    width: 1em;
}
