.site .avatar {
    border-radius: 50%;
}

.entry-content .wp-smiley,
.entry-summary .wp-smiley,
.comment-content .wp-smiley,
.textwidget .wp-smiley {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.entry-content a img,
.entry-summary a img,
.comment-content a img,
.textwidget a img {
    display: block;
}

.post-thumbnail {
    display: block;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
    margin-bottom: 1.75em;
    max-width: 100%;
    vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
    margin-bottom: 0;
}

/**
 * 12.1 - Captions
 */

@import "captions";

/**
* 12.2 - Galleries
*/

@import "galleries";

/**
* 12.3 - Icons
*/

@import "icons";
