.comments-area {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.comment-list {
    list-style: none;
    margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
    margin: 35px 0;
    padding: 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;
}

.comment-list .children > li {
    padding-left: 0;
}

.author-name {
    display: block;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
    text-transform: capitalize;
}

.author-name a {
    text-decoration: none;
}

.comment-author {
    float: left;
    margin: 0 1.3125em 0 0;
}

.comment-author .avatar {
    height: 70px;
    position: relative;
    width: 70px;
}

.comment-container {
    overflow: hidden;
}

.comment-metadata,
.pingback .edit-link {
    line-height: 2.15384615385;
}

.comment-reply-link,
.comment-metadata .comment-permalink,
.comment-metadata .edit-link,
.pingback .edit-link {
    display: inline-block;
    letter-spacing: 0;
    margin-top: 0;
    text-transform: capitalize;
}

.comment-metadata .edit-link:before,
.pingback .edit-link:before {
    content: " ";
    display: inline-block;
    opacity: 0.7;
    padding: 0 0.538461538em;
    border: 1px solid;
    transform: rotate(90deg);
    margin-bottom: 4px;
}

.comment-content {
    letter-spacing: 0;
    line-height: 1.75;
    margin: 14px 0 14px 95px;
    padding: 0;
    position: relative;
}

.comment-content ul,
.comment-content ol {
    margin: 0 0 1.647058823529412em 1.235294117647059em;
}

.comment-content li > ul,
.comment-content li > ol {
    margin-bottom: 0;
}

.comment-reply-link {
    font-weight: 700;
    letter-spacing: 0;
    line-height: 2.33333333333;
    margin-left: 0;
    text-transform: uppercase;
}

.comment-form label {
    font-weight: 700;
    text-transform: uppercase;
}

.comment-respond {
    margin: 21px 0;
    margin-bottom: 0;
}

.no-comments {
    clear: both;
    content: "";
    display: table;
    margin: 1.75em 0;
    padding: 2.1875em;
    table-layout: fixed;
    width: 100%;
}

.comment-navigation + .no-comments {
    margin-top: 0;
    padding-top: 0;
}

.comment-reply {
    margin: 0 5em;
    padding: 0 5px;
}

.comment-reply-title {
    line-height: 1.4;
}

.comment-reply-title small {
    font-size: 100%;
}

.comment-reply-title small a {
    float: right;
    font-weight: 400;
    text-decoration: none;
}

.comment-meta {
    margin-bottom: 7px;
}

.comments-title,
.comment-reply-title {
    text-align: left;
}

.comment-respond {
    border: none;
}

.comment-notes {
    font-style: italic;
    text-align: left;
}

#comments .comments-title {
    margin: 55px 0;
}
