#page {
    margin: 0 auto;
    overflow-x: hidden;
}

.boxed-layout #page {
    max-width: 1640px;
}

#page header, #page .below-site-header {
    margin: 0 auto;
}

.wp-block-column {
    flex-basis: 100%;
    flex-grow: 0;
}

.wp-block-column:not(:last-child) {
    margin-right: 0;
}

.wp-block-column:not(:first-child) {
    margin-left: 0;
}

.wrapper,
.home .recent-blog-section .wrapper,
#promotion-section .content-wrapper,
.boxed-layout #header-navigation-area .wrapper,
.boxed-layout #footer-menu-section .wrapper,
.boxed-layout #feature-slider-section .wrapper,
.boxed-layout #promotion-section .wrapper,
.boxed-layout #footer-instagram .wrapper {
    margin: 0 auto;
    max-width: 1490px;
    width: 100%;
}

#header-top-bar .wrapper {
    padding: 0 30px;
}

.boxed-layout #promotion-section .wrapper,
.boxed-layout #feature-slider-section .wrapper {
    max-width: 100%;
}

.header-media .wrapper,
#header-navigation-area .wrapper,
#promotion-section .wrapper,
#footer-instagram .wrapper,
#footer-newsletter .wrapper,
#feature-slider-section .wrapper,
#footer-menu-section .wrapper {
    max-width: 100%;
}

.boxed-layout .header-media .wrapper,
.boxed-layout #footer-newsletter .wrapper {
    max-width: 1770px;
    width: 100%;
}

.site-content {
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    z-index: 2;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

.page-template .content-area {
    padding: 0 30px;
}

/**
 * 11.1 - Header
 */

@import "header";

/**
* 11.2 - Posts and pages
*/

@import "posts-and-pages";

/**
* 11.3 - Comments
*/

@import "comments";

/**
* 11.4 - Footer
*/

@import "footer";
