#colophon .widget-column {
    float: left;
    position: relative;
    width: 100%;
    z-index: 2;
}

#site-generator {
    clear: both;
}

.site-info {
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}

.widget-area .widget_recent_entries li a {
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.75;
}

.widget-area {
    letter-spacing: 0;
    line-height: 1.75;
}

#menu-main-menu-4.footer-menu, #menu-social-menu-4.footer-menu {
    display: block;
    text-align: center;
}

#footer-menu-section .footer-menu {
    text-align: center;
}

#footer-menu-section.toggled-on .footer-menu {
    display: block;
}

#footer-menu-section .footer-menu {
    display: none;
}
