.header-top-left,
.site-navigation .top-menu a {
    letter-spacing: 0;
    line-height: 1.5;
}

.header-top-bar > .header-top-right.top-without-menu {
    display: none;
}

#header-content .wrapper {
    padding: 14px 30px;
}

.site-branding {
    /* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    padding: 14px 0;
    text-align: center;
}

.custom-logo {
    display: block;
    max-width: 80px;
}

.site-title {
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

.site-description {
    line-height: 1.61538461538;
    text-transform: capitalize;
}

.site-title a {
    text-decoration: none;
}

.menu-toggle {
    border: none;
    display: block;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 auto;
    text-transform: capitalize;
}

.menu-search-toggle,
.menu-search-top-toggle .search-label {
    display: none;
}

#menu-toggle-secondary {
    margin: 0;
}

#menu-toggle-footer {
    margin: 0 auto 7px auto;
}

.header-right-menu-disabled .site-secondary-menu {
    display: block;
    margin: 0;
}

.header-right-menu-disabled .site-secondary-menu .social-navigation {
    display: block;
}

.header-right-menu-disabled .site-secondary-menu .social-navigation ul {
    padding: 0;
}

.no-js .menu-toggle {
    display: none;
}

.menu-toggle:focus {
    outline: 0;
}

#search-toggle.menu-toggle .icon {
    margin-right: 0;
}

.toggled-on.menu-toggle .icon-bars,
.toggled-on.menu-toggle .icon-search,
.menu-toggle .icon-close {
    display: none;
}

.toggled-on.menu-toggle .icon-close {
    display: inline-block;
}

.menu-label-prefix {
    display: none;
}

.search-container {
    display: block;
    padding: 21px 30px;
}

#primary-menu-toggle {
    margin: 0 auto;
}

#header-content {
    clear: both;
}

.header-media {
    clear: both;
}

.header-media .wrapper {
    position: relative;
}

.header-media .post-thumbnail {
    margin: 0;
}

.has-header-video .custom-header-media img {
    display: none;
}

.custom-header-content {
    display: block;
    margin: 0 auto;
    max-width: 1490px;
    padding: 100px 30px;
    position: relative;
    text-align: center;
    z-index: 2;

    .entry-container-wrap {
        padding: 30px;

        p {
            margin-top: 21px;
        }
    }
}

.custom-header-content .site-header-text a {
    text-decoration: underline;
}

.custom-header-content .site-header-text a:hover,
.custom-header-content .site-header-text a:focus {
    text-decoration: none;
}

.no-header-media-text .custom-header-media img {
    display: block;
}

.custom-header-media img {
    display: none;
}

.no-header-media-text .custom-header-media img {
    display: block;
}

.custom-header-content .entry-container-wrap {
    margin: 0 auto;
    max-width: 570px;
    text-align: center;
}

.custom-header-media .wp-custom-header-video-button { /* Specificity prevents .color-dark button overrides */
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    border-radius: 50%;
    bottom: 50px;
    left: 48%;
    overflow: hidden;
    padding: 10px 11px;
    position: absolute;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    z-index: 100;
}

.custom-header-content .entry-title,
.custom-header-content .site-header-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    position: relative;
}

.below-site-header {
    position: relative;
    z-index: 2;
}

.menu-open .overlay {
    height: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.site-primary-menu, .site-secondary-menu {
    display: none;
}

.singular-content-wrap .entry-title,
.singular-content-wrap .entry-meta {
    text-align: left;
}

.custom-header .custom-header-content .entry-container-wrap .entry-title .sub-title,
#feature-slider-section .entry-container .entry-container-wrap .entry-title .sub-title {
    display: block;
    font-weight: 400;
}

.custom-header:before {
    background-color: #000;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.custom-header {
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.has-header-video .custom-header-media video,
.has-header-video .custom-header-media iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#search-toggle-right {
    padding: 14px;
}
