.site-main .hentry {
    text-align: left;
}

#content .section-content-wrapper .hentry,
.recent-blog-section .section-content-wrapper.layout-three .hentry,
.featured-content-wrapper .hentry,
.portfolio-content-wrapper .hentry,
.service-content-wrapper .hentry,
.team-content-wrapper .hentry,
.numbers-content-wrapper .hentry,
#testimonial-content-section .hentry {
    float: left;
    position: relative;
    width: 100%;
}

.singular-content-wrap .entry-header,
.archive .page-header,
.error404 .page-header,
.search .page-header,
.woocommerce-products-header {
    text-align: left;
}

.section-content-wrapper .post-wrapper .post-thumbnail {
    margin: 0;
}Î

.section-content-wrapper .post-wrapper .entry-container {
    margin: 0;
    padding: 0;
    text-align: left;
}

.section-content-wrapper .post-wrapper .entry-header,
.section-content-wrapper .post-wrapper .entry-summary {
    margin: 21px auto;
}

.section-content-wrapper .post-wrapper .entry-footer {
    border-top: 1px solid;
    margin: 0 auto;
}

.section-content-wrapper .post-wrapper .entry-footer .entry-meta {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.post-wrapper .entry-footer .comments-link,
.post-wrapper .entry-footer .tags-links {
    padding: 21px 0;
}

.entry-title a {
    text-decoration: none;
}

.cover-link {
    display: block;
    height: 100%;
}

.post-thumbnail img {
    display: block;
    margin: 0 auto;
}

.singular-header-image img {
    width: 100%;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
    opacity: 0.85;
}

h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.325;
}

h2 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.3611;
}

h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4;
}

h4 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.4583;
}

h5 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.55;
}

h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

.post-navigation .nav-title,
.entry-title,
.comments-title {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.author-description > :last-child,
.entry-content > :last-child,
.entry-summary > :last-child,
.page-content > :last-child,
.comment-content > :last-child,
.textwidget > :last-child {
    margin-bottom: 0;
}

.more-link {
    clear: both;
    display: block;
    margin-top: 28px;
    word-wrap: break-word;
}

.more-button,
.site-main #infinite-handle span {
    border: 2px solid;
    border-radius: 23px;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    padding: 12px 31px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.view-more {
    clear: both;
    margin: 0 0 35px;
    padding: 0 30px;
    text-align: center;
}

.author-info {
    clear: both;
    text-align: center;
}

.author-avatar .avatar {
    height: 150px;
    width: 150px;
}

.author-description .author-title {
    clear: none;
    line-height: 1.555;
    margin: 0 0 14px;
}

.author-description {
    overflow: hidden;
}

.author-link {
    clear: both;
    display: block;
    margin-top: 21px;
    white-space: nowrap;
}

.entry-footer:empty {
    margin: 0;
}

.site-main .section-content-wrapper .sticky .entry-header {
    position: relative;
}

.sticky-post {
    display: inline-block;
    font-size: 13px;
    font-size: 0.8125rem;
    margin-bottom: 7px;
    padding: 7px 14px 7px;
    text-align: center;
    text-transform: uppercase;
    z-index: 9;
}

.sticky-post:after {
    content: "";

}

.has-post-thumbnail{
    .sticky-post {
        display: inline-block;
        font-size: 13px;
        font-size: 0.8125rem;
        padding: 7px 14px 7px;
        position: absolute;
        right: -14px;
        top: 0;
        text-align: center;
        text-transform: uppercase;
        z-index: 9;
    }
    
    .sticky-post:after {
        content: "";
        border-top: 11px solid;
        border-left: 0 solid transparent;
        border-right: 14px solid transparent;
        bottom: -11px;
        position: absolute;
    }
    
    .sticky-post:after {
        right: 0;
    }
}


.entry-meta {
    text-transform: capitalize;
}

.entry-meta .sep {
    display: none;
}

.entry-header .byline,
.entry-header .cat-links {
    clear: both;
    display: block;
}

.singular-content-wrap .entry-footer .cat-links,
.singular-content-wrap .entry-footer .tags-links {
    display: block;
}

.singular-content-wrap .entry-footer span span {
    display: block;
    font-weight: 700;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.singular-content-wrap .entry-footer .cat-links a,
.singular-content-wrap .entry-footer .tags-links a {
    border: none;
    display: inline-block;
    letter-spacing: 0.1em;
    margin: 0 0 10px 0;
    padding: 5px 0;
    text-decoration: none;
    text-transform: capitalize;
}

/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */

.updated:not(.published) {
    display: none;
}

.taxonomy-description p {
    margin: 0.5384615385em 0 1.6153846154em;
}

.taxonomy-description > :last-child {
    margin-bottom: 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.75em;
}

.page-links a,
.page-links > span {
    border: 1px solid;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.6923076923em;
    margin-right: 0.3076923077em;
    text-align: center;
    text-decoration: none;
    width: 2em;
}

.page-links > .page-links-title {
    border: none;
    height: auto;
    margin: 0;
    padding-right: 0.6153846154em;
    width: auto;
}

.entry-attachment {
    margin-bottom: 1.75em;
}

.entry-caption {
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 7px;
}

.entry-caption > :last-child {
    margin-bottom: 0;
}

span.comments-link {
    display: none;
}
