.site-secondary-menu {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}

.site-header-top-main,
.site-primary-menu,
.site-secondary-menu,
.disable-in-mobile {
    display: inherit;
}

.site-header-top-main.toggled-on,
.site-primary-menu.toggled-on,
.site-secondary-menu.toggled-on .social-navigation,
.site-primary-menu.toggled-on .search-social-container,
.site-header-top-main.toggled-on .search-social-container,
.site-secondary-menu.toggled-on .search-social-container,
.site-secondary-menu.toggled-on,
.site-footer-menu.toggled-on {
    display: block;
}

.site-header-top-main.toggled-on {
    clear: both;
}

.primary-search-wrapper,
.header-top-bar .wrapper {
    position: relative;
}

.site-navigation ul,
.header-top-left ul {
    list-style: none;
    margin: 0;
}

#search-top-container .header-top-left ul {
    text-align: center;
}

.site-navigation li,
.header-top-bar .contact-details li,
.menu-social-container {
    position: relative;
}

.menu-social-container {
    text-align: center;
}

.site-navigation a {
    display: block;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5;
    outline-offset: -1px;
    text-decoration: none;
    text-transform: capitalize;
}

.site-navigation a,
.header-top-bar .contact-details li {
    padding: 7px 0;
}

.site-header .social-navigation ul {
    padding: 14px 0;
    margin-bottom: 0;
}

.social-navigation {
    padding: 0;
}

#social-primary-navigation {
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    display: table;
    padding: 0 30px;
    width: 100%;

    ul {
        margin-left: 0;
    }
}

.site-navigation ul ul {
    display: none;
    margin-left: 0.875em;
}

.site-navigation ul ul a {
    line-height: 1.5;
}

.no-js .site-navigation ul ul {
    display: block;
}

.site-navigation ul .toggled-on {
    display: block;
}

.dropdown-toggle {
    border: none;
    border-radius: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 0;
}

#site-generator .dropdown-toggle {
    display: none;
}

#site-generator .site-navigation .menu-item-has-children > a {
    margin-right: 0;
}

.dropdown-toggle:focus {
    outline: thin dotted;
    outline-offset: -1px;
}

.dropdown-toggle.toggled-on .icon {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}

.site-navigation .menu-item-has-children > a > .icon,
.site-navigation .page_item_has_children > a > .icon,
.site-navigation ul a > .icon {
    display: none;
}

.social-navigation ul {
    list-style: none;
    text-align: center;
}

.ctsocialwidget ul{
    list-style: none;
}

.ctsocialwidget li {
    display: inline-block;
    margin: 0 14px;
}

.social-navigation li {
    display: inline-block;
    margin: 0;

    a {
        padding: 9px 7px;
    }
}

.social-navigation a,
.ctsocialwidget a {
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    line-height: 1.5;
}

.social-navigation .icon {
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

#footer-menu-section .social-navigation .icon {
    height: 28px;
    width: 28px;
}

#footer-menu-section .social-navigation li a {
    padding: 14px;
}

.site-footer-menu .social-navigation .icon {
    height: 21px;
    width: 21px;
}

.post-navigation {
    clear: both;
}

.post-navigation .nav-links {
    border-bottom: 2px solid;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.post-navigation a {
    display: block;
    text-decoration: none;
}

.post-navigation span {
    display: block;
}

.post-navigation .nav-subtitle-icon-wrapper {
    display: inline;
}

.post-navigation .nav-subtitle {
    letter-spacing: 1px;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.post-navigation .nav-title {
    display: inline;
    text-rendering: optimizeLegibility;
    font-weight: 700;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
    padding-bottom: 56px;
    position: relative;
    vertical-align: top;
    text-align: center;
}

.post-navigation .nav-previous .icon {
    margin-right: 7px;
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

.post-navigation .nav-next .icon {
    margin-left: 7px;
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
}

.pagination .prev,
.pagination .next {
    width: 100%;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

.image-navigation,
.comment-navigation {
    border-bottom: 1px solid;
    border-top: 1px solid;
    line-height: 1.6153846154;
    margin: 0 7.6923% 2.1538461538em;
    padding: 1.0769230769em 0;
}

.comment-navigation {
    margin-right: 0;
    margin-left: 0;
}

.comments-title + .comment-navigation {
    border-bottom: 0;
    margin-bottom: 0;
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
    display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
    content: "\002f";
    display: inline-block;
    opacity: 0.7;
    padding: 0 0.538461538em;
}

.social-primary-enabled.header-right-menu-disabled .site-branding {
    margin: 14px auto;
    text-align: center;
}

#menu-main-menu {
    z-index: 99;
}

.site-primary-menu.toggled-on {
    border-top: 1px solid #EDEDED;
    left: 0;
    width: 100%;
    z-index: 999;

    &::after {
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        padding: 0;
        top: 0;
        width: 100%;
    }

    .primary-menu {
        border: none;
        padding: 14px 30px;
    }

    #primary-page-menu {
        padding: 14px 30px;
    }
}

#search-toggle-top .icon, #search-toggle-right .icon {
    width: 16px;
}

#search-top-container.displaynone #search-container {
    display: none;
}

.header-top-bar #search-toggle-top {
    display: none;
}

.search-with-social {
    display: none;
}

.search-with-social.toggled-on {
    display: block;
}
