.posts-navigation,
.pagination {
    clear: both;
    text-align: center;
}

.pagination .page-numbers {
    display: inline-block;
    padding: 7px;
}

.navigation.pagination {
    margin: 0 auto;
    max-width: 572px;
}

.posts-navigation .nav-links {
    margin: 0 auto;
}

.posts-navigation .nav-links .nav-previous a,
.posts-navigation .nav-links .nav-next a,
.pagination .prev,
.pagination .next {
    border-radius: 23px;
    display: inline-block;
    font-weight: 600;
    padding: 10px 31px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.infinite-loader {
    clear: both;
    display: none;
    padding: 0 0 35px;
}

.site-main #infinite-handle {
    clear: both;
    text-align: center;
}

.infinite-scroll .woocommerce-pagination {
    display: none;
}

input[type="search"].search-field {
    line-height: 1.3125;
}
